<app-page-title title="Apps" subtitle="Todo" />

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-wrap justify-content-between gap-3">
          <div class="search-bar">
            <span><i class="bx bx-search-alt"></i></span>
            <input
              type="search"
              class="form-control"
              id="search"
              [(ngModel)]="tableService.searchTerm"
              placeholder="Search task..."
            />
          </div>
          <div>
            <a
              href="javascript:void(0);"
              class="btn btn-primary d-inline-flex align-items-center"
            >
              <i class="bx bx-plus me-1"></i>Create Task
            </a>
          </div>
        </div>
      </div>
      <div>
        <div class="table-responsive table-centered">
          <table class="table text-nowrap mb-0">
            <thead class="bg-light bg-opacity-50">
              <tr>
                <th class="border-0 py-2">Task Name</th>
                <th class="border-0 py-2">Created Date</th>
                <th class="border-0 py-2">Due Date</th>
                <th class="border-0 py-2">Assigned</th>
                <th class="border-0 py-2">Status</th>
                <th class="border-0 py-2">Priority</th>
                <th class="border-0 py-2">Action</th>
              </tr>
            </thead>
            <!-- end thead-->
            <tbody>
              @for (data of todo$ | async; track $index) {
                <tr>
                  <td>
                    <div class="d-flex align-items-center gap-2">
                      <div class="form-check form-todo ps-4">
                        <input
                          type="checkbox"
                          class="form-check-input rounded-circle mt-0 fs-18"
                          id="customCheck1"
                          [checked]="data.checked"
                        />
                        <label class="form-check-label" for="customCheck1">{{
                          data.task_name
                        }}</label>
                      </div>
                    </div>
                  </td>
                  <td>
                    {{ data.create_date }}
                    <small>{{ data.time }}</small>
                  </td>
                  <td>{{ data.due_date }}</td>
                  @if (data.assigned) {
                    <td>
                      <div class="d-flex align-items-center">
                        <img
                          [src]="data.assigned.avatar"
                          alt=""
                          class="avatar-xs rounded-circle me-2"
                        />
                        <div>
                          <h5 class="fs-14 mt-1 fw-normal">
                            {{ data.assigned.name }}
                          </h5>
                        </div>
                      </div>
                    </td>
                  }
                  <td>
                    <span
                      class="badge"
                      [ngClass]="{
                        'badge-soft-warning': data.status == 'In-progress',
                        'badge-soft-primary': data.status == 'Pending',
                        'badge-soft-success': data.status == 'Completed',
                        'badge-soft-info': data.status == 'New',
                      }"
                      >{{ data.status }}</span
                    >
                  </td>
                  <td
                    [ngClass]="{
                      'text-danger': data.priority == 'High',
                      'text-success': data.priority == 'Low',
                      'text-warning': data.priority == 'Medium',
                    }"
                  >
                    <i class="bx bxs-circle me-1"></i>{{ data.priority }}
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn btn-sm btn-soft-secondary me-1"
                    >
                      <i class="bx bx-edit fs-16"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-soft-danger">
                      <i class="bx bx-trash fs-16"></i>
                    </button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>

        <div
          class="align-items-center justify-content-between row g-0 text-center text-sm-start p-3 border-top"
        >
          <div class="col-sm">
            <div class="text-muted">
              Showing
              <span class="fw-semibold">{{ (total$ | async)! }}</span>
              of
              <span class="fw-semibold">{{ tableService.endIndex }}</span>
              tasks
            </div>
          </div>
          <div class="col-sm-auto mt-3 mt-sm-0">
            <ul class="pagination pagination-rounded m-0">
              <ngb-pagination
                [collectionSize]="(total$ | async)!"
                [(page)]="tableService.page"
                [pageSize]="tableService.pageSize"
              >
                <ng-template ngbPaginationPrevious
                  ><i class="bx bx-left-arrow-alt"></i
                ></ng-template>
                <ng-template ngbPaginationNext
                  ><i class="bx bx-right-arrow-alt"></i
                ></ng-template>
              </ngb-pagination>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
