<div class="my-4">
  <h4 class="fw-medium">
    Do you need quick help with some general inquiries ?
  </h4>
  <p>
    You can use any of the support systems below if your query is urgent, We
    will be happy to be of help.
  </p>
  <div class="row g-4">
    <div class="col-xl-6">
      <div class="d-flex p-1">
        <div class="avatar-md">
          <span class="avatar-title bg-light text-dark fs-24 rounded-circle">
            <iconify-icon icon="iconamoon:location-pin-duotone"></iconify-icon>
          </span>
        </div>
        <div class="d-block align-self-center text-truncate ms-2">
          <h5 class="fw-medium fs-14 text-uppercase">Office Address</h5>
          <span>660 Courtright Bismarck, ND</span>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="d-flex p-1">
        <div class="avatar-md">
          <span class="avatar-title bg-light text-dark fs-24 rounded-circle">
            <iconify-icon icon="iconamoon:phone-duotone"></iconify-icon>
          </span>
        </div>
        <div class="d-block align-self-center text-truncate ms-2">
          <h5 class="fw-medium fs-14 text-uppercase">Telephone number</h5>
          <span>1-888-452-1505</span>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="d-flex p-1">
        <div class="avatar-md">
          <span class="avatar-title bg-light text-dark fs-24 rounded-circle">
            <iconify-icon icon="iconamoon:email-duotone"></iconify-icon>
          </span>
        </div>
        <div class="d-block align-self-center text-truncate ms-2">
          <h5 class="fw-medium fs-14 text-uppercase">Email Address</h5>
          <span>rachelmtrojano&#64;armyspy.com</span>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="d-flex p-1">
        <div class="avatar-md">
          <span class="avatar-title bg-light text-dark fs-24 rounded-circle">
            <iconify-icon icon="iconamoon:link-external-duotone"></iconify-icon>
          </span>
        </div>
        <div class="d-block align-self-center text-truncate ms-2">
          <h5 class="fw-medium fs-14 text-uppercase">Social Contact</h5>
          <div class="d-flex justify-content-center gap-3">
            <a
              href="javascript:void(0);"
              class="btn fs-20 d-inline-flex align-items-center justify-content-center text-primary p-0"
              placement="bottom"
              tooltipClass="primary-tooltip"
              aria-label="Facebook"
              ngbTooltip="Facebook"
              ><i class="bx bxl-facebook"></i
            ></a>
            <a
              href="javascript:void(0);"
              class="btn fs-20 d-inline-flex align-items-center justify-content-center text-danger p-0"
              placement="bottom"
              tooltipClass="danger-tooltip"
              aria-label="Instagram"
              ngbTooltip="Instagram"
              ><i class="bx bxl-instagram-alt"></i
            ></a>
            <a
              href="javascript:void(0);"
              class="btn fs-20 d-inline-flex align-items-center justify-content-center text-info p-0"
              placement="bottom"
              tooltipClass="info-tooltip"
              aria-label="Twitter"
              ngbTooltip="Twitter"
              ><i class="bx bxl-twitter"></i
            ></a>
            <a
              href="javascript:void(0);"
              class="btn fs-20 d-inline-flex align-items-center justify-content-center text-primary p-0"
              placement="bottom"
              tooltipClass="primary-tooltip"
              aria-label="Linkedin"
              ngbTooltip="Linkedin"
              ><i class="bx bxl-linkedin"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
