<div class="card">
  <div
    class="card-header d-flex align-items-center justify-content-between gap-2"
  >
    <h4 class="card-title flex-grow-1">Top Pages</h4>
    <div>
      <a href="javascript:void(0);" class="btn btn-sm btn-soft-primary"
        >View All</a
      >
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-nowrap table-centered m-0">
      <thead class="bg-light bg-opacity-50">
        <tr>
          <th class="text-muted py-1">Page Path</th>
          <th class="text-muted py-1">Page Views</th>
          <th class="text-muted py-1">Avg Time on Page</th>
          <th class="text-muted py-1">Exit Rate</th>
        </tr>
      </thead>
      <tbody>
        @for (item of pageList; track $index) {
          <tr>
            <td>
              <a href="javascript:void(0);" class="text-muted">{{
                item.path
              }}</a>
            </td>
            <td>{{ item.views }}</td>
            <td>{{ item.time }}</td>
            <td>
              <span class="badge badge-soft-{{ item.rateColor }}"
                >{{ item.rate }}%</span
              >
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
