<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 class="card-title">Overview</h4>
    <div>
      <button type="button" class="btn btn-sm btn-soft-secondary me-1">
        ALL
      </button>
      <button type="button" class="btn btn-sm btn-soft-secondary me-1">
        1M
      </button>
      <button type="button" class="btn btn-sm btn-soft-secondary me-1">
        6M
      </button>
      <button type="button" class="btn btn-sm btn-soft-secondary active">
        1Y
      </button>
    </div>
  </div>
  <!-- end card-title-->

  <div class="card-body">
    <div dir="ltr">
      <div id="dash-overview-chart" class="apex-charts">
        <apx-chart
          [chart]="overviewChart.chart!"
          [series]="overviewChart.series!"
          [stroke]="overviewChart.stroke!"
          [fill]="overviewChart.fill!"
          [markers]="overviewChart.markers!"
          [xaxis]="overviewChart.xaxis!"
          [yaxis]="overviewChart.yaxis!"
          [grid]="overviewChart.grid!"
          [legend]="overviewChart.legend!"
          [plotOptions]="overviewChart.plotOptions!"
          [colors]="overviewChart.colors!"
          [tooltip]="overviewChart.tooltip!"
        ></apx-chart>
      </div>
    </div>
  </div>
</div>
