<app-page-title [title]="'Form'" [subtitle]="'Basic Element'" />

<div class="row">
  <div class="col-xl-9">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="basic">
          Basic Example<a class="anchor-link" href="#basic">#</a>
        </h5>
        <p class="text-muted">
          Give textual form controls like <code>&lt;input&gt;</code>s and
          <code>&lt;textarea&gt;</code>s an upgrade with custom styles, sizing,
          focus states, and more.
        </p>
        <div class="">
          <div>
            <div class="mb-3">
              <label for="simpleinput" class="form-label">Text</label>
              <input type="text" id="simpleinput" class="form-control" />
            </div>

            <div class="mb-3">
              <label for="example-email" class="form-label">Email</label>
              <input
                type="email"
                id="example-email"
                name="example-email"
                class="form-control"
                placeholder="Email"
              />
            </div>

            <div class="mb-3">
              <label for="example-password" class="form-label">Password</label>
              <input
                type="password"
                id="example-password"
                class="form-control"
                value="password"
              />
            </div>

            <div class="mb-3">
              <label for="example-palaceholder" class="form-label"
                >Placeholder</label
              >
              <input
                type="text"
                id="example-palaceholder"
                class="form-control"
                placeholder="placeholder"
              />
            </div>

            <div class="mb-3">
              <label for="example-textarea" class="form-label">Text area</label>
              <textarea
                class="form-control"
                id="example-textarea"
                rows="5"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="size">
          Input Sizing<a class="anchor-link" href="#size">#</a>
        </h5>
        <p class="text-muted">
          Set heights using classes like <code>.form-control-lg</code> and
          <code>.form-control-sm</code>.
        </p>
        <div>
          <div class="row">
            <div class="col-lg-6">
              <div class="d-flex flex-column gap-2 mb-3">
                <input
                  class="form-control form-control-lg"
                  type="text"
                  placeholder=".form-control-lg"
                  aria-label=".form-control-lg example"
                />
                <input
                  class="form-control"
                  type="text"
                  placeholder="Default input"
                  aria-label="default input example"
                />
                <input
                  class="form-control form-control-sm"
                  type="text"
                  placeholder=".form-control-sm"
                  aria-label=".form-control-sm example"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="disabled">
          Disabled Input<a class="anchor-link" href="#disabled">#</a>
        </h5>
        <p class="text-muted">
          Add the <code>disabled</code> boolean attribute on an input to give it
          a grayed out appearance, remove pointer events, and prevent focusing.
        </p>
        <div>
          <div class="row">
            <div class="col-lg-6">
              <div class="d-flex flex-column gap-2 mb-3">
                <input
                  class="form-control"
                  type="text"
                  placeholder="Disabled input"
                  aria-label="Disabled input example"
                  disabled
                />
                <input
                  class="form-control"
                  type="text"
                  value="Disabled readonly input"
                  aria-label="Disabled input example"
                  disabled
                  readonly
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="readonly">
          Readonly Input<a class="anchor-link" href="#readonly">#</a>
        </h5>
        <p class="text-muted">
          Add the <code>readonly</code> boolean attribute on an input to prevent
          modification of the input’s value. <code>readonly</code> inputs can
          still be focused and selected, while <code>disabled</code> inputs
          cannot.
        </p>
        <p class="text-muted">
          If you want to have <code>&lt;input readonly&gt;</code> elements in
          your form styled as plain text, replace
          <code>.form-control</code> with
          <code>.form-control-plaintext</code> to remove the default form field
          styling and preserve the correct <code>margin</code> and
          <code>padding</code>.
        </p>

        <div>
          <div class="row">
            <div class="col-lg-6">
              <div class="d-flex flex-column gap-2 mb-3">
                <input
                  class="form-control"
                  type="text"
                  value="Readonly input here..."
                  aria-label="readonly input example"
                  readonly
                />
                <input
                  type="text"
                  readonly
                  class="form-control-plaintext"
                  id="staticEmail"
                  value="email@example.com"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="datalists">
          Datalists input<a class="anchor-link" href="#datalists">#</a>
        </h5>
        <p class="text-muted">
          If you want to have <code>&lt;input readonly&gt;</code> elements in
          your form styled as plain text, replace
          <code>.form-control</code> with
          <code>.form-control-plaintext</code> to remove the default form field
          styling and preserve the correct <code>margin</code> and
          <code>padding</code>.
        </p>
        <div>
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label for="exampleDataList" class="form-label"
                  >Datalist example</label
                >
                <input
                  class="form-control"
                  list="datalistOptions"
                  id="exampleDataList"
                  placeholder="Type to search..."
                />
                <datalist id="datalistOptions">
                  <option value="San Francisco"></option>
                  <option value="New York"></option>
                  <option value="Seattle"></option>
                  <option value="Los Angeles"></option>
                  <option value="Chicago"></option>
                </datalist>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="select">
          Select<a class="anchor-link" href="#select">#</a>
        </h5>
        <p class="text-muted">
          Custom <code>&lt;select&gt;</code> menus need only a custom class,
          <code>.form-select</code> to trigger the custom styles. Custom styles
          are limited to the <code>&lt;select&gt;</code>’s initial appearance
          and cannot modify the <code>&lt;option&gt;</code>s due to browser
          limitations.
        </p>

        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <div class="mb-3">
                <label for="example-select" class="form-label"
                  >Default Input Select</label
                >
                <select class="form-select" id="example-select">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>

              <p class="text-muted">
                The <code>multiple</code> attribute is also supported:
              </p>

              <div class="mb-3">
                <label for="example-multiselect" class="form-label"
                  >Multiple Select</label
                >
                <select
                  id="example-multiselect"
                  multiple=""
                  class="form-control"
                >
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>

              <p class="text-muted">As is the <code>size</code> attribute:</p>

              <label for="example-multiselectsize" class="form-label"
                >Multiple Select Size</label
              >
              <select
                id="example-multiselectsize"
                class="form-select"
                size="3"
                aria-label="size 3 select example"
              >
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3">
    <ui-examples-list
      [linkList]="[
        { label: 'Basic Example', link: '#basic' },
        { label: 'Input Sizing', link: '#size' },
        { label: 'Disabled Input', link: '#disabled' },
        { label: 'Readonly Input', link: '#readonly' },
        { label: 'Datalists input', link: '#datalists' },
        { label: 'Select input', link: '#select' },
      ]"
    />
  </div>
</div>
