<div class="tab-pane" id="seller-grid">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-5 gx-3">
    @for (item of sellers$ | async; track $index) {
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div ngbDropdown class="dropdown float-end">
              <a
                ngbDropdownToggle
                class="dropdown-toggle arrow-none text-dark"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bx bx-dots-vertical-rounded fs-18"></i>
              </a>
              <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
                <a href="javascript:void(0);" class="dropdown-item">
                  <i class="bx bx-phone-call me-2"></i>Direct Call
                </a>
                <a href="javascript:void(0);" class="dropdown-item">
                  <i class="bx bx-envelope-open me-2"></i>E mail
                </a>
                <a href="javascript:void(0);" class="dropdown-item">
                  <i class="bx bxl-linkedin me-2"></i>Linkedin
                </a>
              </div>
            </div>
            <div class="text-center mb-3">
              <a href="javascript:void(0);">
                <img
                  [src]="item.image"
                  alt="avatar-1"
                  class="img-fluid img-thumbnail avatar-xxl rounded-circle avatar-border"
                />
              </a>
            </div>
            <div class="text-center">
              <h4 class="mb-4 fw-bold">
                {{ item.name }}
              </h4>
            </div>
            <div class="mt-1 border-bottom">
              <p class="float-end mb-1">
                {{ item.store_name }}
              </p>
              <p class="mb-1">Store Name</p>
            </div>
            <div class="mt-1 mb-2 border-bottom">
              <p class="float-end mb-1">
                {{ item.products }}
              </p>
              <p class="mb-1">Products</p>
            </div>
            <a href="javascript:void(0);" class="btn btn-soft-primary w-100"
              >View All Detail</a
            >
          </div>
        </div>
      </div>
    }
  </div>
</div>
