<app-page-title [title]="'Base UI'" [subtitle]="'Collapse'" />

<div class="row">
  <div class="col-xl-9">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="default">
          Default Example<a class="anchor-link" href="#default">#</a>
        </h5>
        <p class="text-muted">
          Click the buttons below to show and hide another element via class
          changes:
        </p>
        <ul>
          <li><code>.collapse</code> hides content</li>
          <li><code>.collapsing</code> is applied during transitions</li>
          <li><code>.collapse.show</code> shows content</li>
        </ul>
        <p class="text-muted">
          Generally, we recommend using a button with the
          <code>data-bs-target</code> attribute. While not recommended from a
          semantic point of view, you can also use a link with the
          <code>href</code> attribute (and a <code>role="button"</code>). In
          both cases, the
          <code>data-bs-toggle="collapse"</code>
          is required.
        </p>

        <div class="mb-3">
          <div class="hstack gap-2">
            <a
              class="btn btn-primary mb-2"
              data-bs-toggle="collapse"
              (click)="collapse.toggle()"
              [attr.aria-expanded]="!isCollapsed"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Link with href
            </a>
            <button
              class="btn btn-primary mb-2"
              type="button"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Button with data-bs-target
            </button>
          </div>
          <div
            class="collapse"
            id="collapseExample"
            #collapse="ngbCollapse"
            [(ngbCollapse)]="isCollapsed"
          >
            <div class="card mb-0">
              <div class="card-body">
                Some placeholder content for the collapse component. This panel
                is hidden by default but revealed when the user activates the
                relevant trigger.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="horizontal">
          Horizontal
          <a class="anchor-link" href="#horizontal">#</a>
        </h5>
        <p class="text-muted">
          The collapse plugin also supports horizontal collapsing. Add the
          <code>.collapse-horizontal</code>
          modifier class to transition the
          <code>width</code> instead of <code>height</code> and set a
          <code>width</code> on the immediate child element. Feel free to write
          your own custom Sass, use inline styles, or use our width utilities.
        </p>
        <div class="mb-3">
          <button
            class="btn btn-primary mb-2"
            (click)="horizontalCollapse.toggle()"
            [attr.aria-expanded]="!isHorizontal"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseWidthExample"
            aria-expanded="false"
            aria-controls="collapseWidthExample"
          >
            Toggle width collapse
          </button>
          <div style="min-height: 135px">
            <div
              class="collapse collapse-horizontal"
              #horizontalCollapse="ngbCollapse"
              [(ngbCollapse)]="isHorizontal"
              [horizontal]="true"
              id="collapseWidthExample"
            >
              <div class="card card-body mb-0" style="width: 300px">
                This is some placeholder content for a horizontal collapse. It's
                hidden by default and shown when triggered.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="multiple-targets">
          Multiple Targets
          <a class="anchor-link" href="#multiple-targets">#</a>
        </h5>
        <p class="text-muted">
          A <code>&lt;button&gt;</code> or <code>&lt;a&gt;</code> can show and
          hide multiple elements by referencing them with a selector in its
          <code>href</code> or <code>data-bs-target</code> attribute. Multiple
          <code>&lt;button&gt;</code> or <code>&lt;a&gt;</code> can show and
          hide an element if they each reference it with their
          <code>href</code> or <code>data-bs-target</code> attribute
        </p>
        <div class="mb-3">
          <div class="hstack gap-2 mb-3">
            <a
              class="btn btn-primary"
              data-bs-toggle="collapse"
              (click)="toggleFirst.toggle()"
              [attr.aria-expanded]="!isSecondToggle"
              role="button"
              aria-expanded="false"
              aria-controls="multiCollapseExample1"
              >Toggle first element</a
            >
            <button
              class="btn btn-primary"
              (click)="toggleSecond.toggle()"
              type="button"
              [attr.aria-expanded]="!isFirstToggle"
              data-bs-toggle="collapse"
              data-bs-target="#multiCollapseExample2"
              aria-expanded="false"
              aria-controls="multiCollapseExample2"
            >
              Toggle second element
            </button>
            <button
              class="btn btn-primary"
              (click)="toggleFirst.toggle(); toggleSecond.toggle()"
              [attr.aria-expanded]="!isSecondToggle && !isFirstToggle"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target=".multi-collapse"
              aria-expanded="false"
              aria-controls="multiCollapseExample1 multiCollapseExample2"
            >
              Toggle both elements
            </button>
          </div>
          <div class="row">
            <div class="col">
              <div
                class="collapse multi-collapse"
                #toggleFirst="ngbCollapse"
                [(ngbCollapse)]="isFirstToggle"
                id="multiCollapseExample1"
              >
                <div class="card card-body">
                  Some placeholder content for the first collapse component of
                  this multi-collapse example. This panel is hidden by default
                  but revealed when the user activates the relevant trigger.
                </div>
              </div>
            </div>
            <div class="col">
              <div
                class="collapse multi-collapse"
                #toggleSecond="ngbCollapse"
                [(ngbCollapse)]="isSecondToggle"
                id="multiCollapseExample2"
              >
                <div class="card card-body">
                  Some placeholder content for the second collapse component of
                  this multi-collapse example. This panel is hidden by default
                  but revealed when the user activates the relevant trigger.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3">
    <ui-examples-list
      [linkList]="[
        { label: 'Default Example', link: '#default' },
        { label: 'Horizontal Collapse', link: '#horizontal' },
        { label: 'Multiple Targets', link: '#multiple-targets' },
      ]"
    />
  </div>
</div>
