<div class="card card-height-100">
  <div class="card-body">
    <div class="float-end">
      <a href="javascript:void(0);" class="text-primary">
        <i class="bx bx-edit me-1"></i>
        Change
      </a>
    </div>
    <h5 class="card-title mb-3">Shipping Information</h5>
    <h5 class="">Alice S. Shepherd</h5>
    <address class="mb-0">
      4251 Private Lane, <br />
      Valdosta, GA 31601 <br />
      <abbr title="phone">Phone :</abbr>
      229-269-1411 <br />
      <abbr title="mobile">Mobile :</abbr>
      740-302-6656
    </address>
  </div>
</div>
