## .NET Core
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

## Logs
*.log
logs/

## VS Code
.vscode/

## Angular
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.angular/

## Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
venv/

## OS
.DS_Store
Thumbs.db

## Docker
docker-compose.override.yml
