<app-page-title title="Dashboards" subtitle="Sales" />

<state-card />

<!-- end row-->

<div class="row">
  <div class="col-xxl-8">
    <sales-overview />
  </div>

  <div class="col-xxl-4">
    <sales-by-category />
    <!-- end card-->
  </div>
</div>

<div class="row">
  <div class="col-xl-6">
    <sales-new-accounts />
    <!-- end card-->
  </div>

  <div class="col-xl-6">
    <sales-recent-transaction />
    <!-- end card-->
  </div>
</div>

<div class="row">
  <div class="col">
    <sales-recent-orders />
  </div>
</div>
