<app-page-title [title]="'Charts'" [subtitle]="'Heatmap Charts'" />
<div class="row">
  <div class="col-xl-9">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title anchor" id="overview">Overview</h5>

        <p class="mb-0">
          <span class="fw-medium"
            >Find the JS file for the following chart at:</span
          >
          <code> src/app/views/charts/heatmap.component.ts</code>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-3 anchor" id="basic">
          Basic Heatmap - Single Series
        </h4>
        <div dir="ltr">
          <div id="basic-heatmap" class="apex-charts">
            <apx-chart
              [chart]="basicheatmapChart.chart!"
              [dataLabels]="basicheatmapChart.dataLabels!"
              [series]="basicheatmapChart.series!"
              [fill]="basicheatmapChart.fill!"
              [colors]="basicheatmapChart.colors!"
              [xaxis]="basicheatmapChart.xaxis!"
            >
            </apx-chart>
          </div>
        </div>
      </div>
      <!-- end card body-->
    </div>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-3 anchor" id="multiple-series">
          Heatmap - Multiple Series
        </h4>
        <div dir="ltr">
          <div id="multiple-series-heatmap" class="apex-charts">
            <apx-chart
              [chart]="multipleheatmapChart.chart!"
              [dataLabels]="multipleheatmapChart.dataLabels!"
              [series]="multipleheatmapChart.series!"
              [colors]="multipleheatmapChart.colors!"
              [xaxis]="multipleheatmapChart.xaxis!"
            >
            </apx-chart>
          </div>
        </div>
      </div>
      <!-- end card body-->
    </div>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-3 anchor" id="color-range">
          Heatmap - Color Range
        </h4>
        <div dir="ltr">
          <div id="color-range-heatmap" class="apex-charts">
            <apx-chart
              [chart]="colorheatmapChart.chart!"
              [dataLabels]="colorheatmapChart.dataLabels!"
              [series]="colorheatmapChart.series!"
              [plotOptions]="colorheatmapChart.plotOptions!"
            >
            </apx-chart>
          </div>
        </div>
      </div>
      <!-- end card body-->
    </div>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-3 anchor" id="rounded">
          Heatmap - Range without Shades
        </h4>
        <div dir="ltr">
          <div id="rounded-heatmap" class="apex-charts">
            <apx-chart
              [chart]="roundedheatmapChart.chart!"
              [stroke]="roundedheatmapChart.stroke!"
              [dataLabels]="roundedheatmapChart.dataLabels!"
              [colors]="roundedheatmapChart.colors!"
              [series]="roundedheatmapChart.series!"
              [plotOptions]="roundedheatmapChart.plotOptions!"
              [xaxis]="roundedheatmapChart.xaxis!"
              [grid]="roundedheatmapChart.grid!"
            >
            </apx-chart>
          </div>
        </div>
      </div>
      <!-- end card body-->
    </div>
  </div>

  <div class="col-xl-3">
    <ui-examples-list
      [linkList]="[
        { label: 'Overview', link: '#overview' },
        { label: 'Basic Heatmap - Single Series', link: '#basic' },
        { label: 'Heatmap - Multiple Series', link: '#multiple-series' },
        { label: 'Heatmap - Color Range', link: '#color-range' },
        { label: 'Heatmap - Range without Shades', link: '#rounded' },
      ]"
    />
  </div>
</div>
