<app-page-title [title]="'Advanced UI'" [subtitle]="'Scrollbar'" />

<div class="row">
  <div class="col-xl-9">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="default">
          Default Scroll Example
          <a class="anchor-link" href="#defalut">#</a>
        </h5>
        <p class="text-muted">
          Just use tag
          <code>ngx-simplebar </code> and add <code>max-height: **px</code> oh
          fix height
        </p>

        <div class="border rounded py-3 mb-3">
          <ngx-simplebar class="px-3" style="max-height: 250px">
            SimpleBar does only one thing: replace the browser's default
            scrollbar with a custom CSS-styled one without losing performances.
            Unlike some popular plugins, SimpleBar doesn't mimic scroll with
            Javascript, causing janks and strange scrolling behaviours... You
            keep the awesomeness of native scrolling...with a custom scrollbar!
            <p>
              SimpleBar
              <strong>does NOT implement a custom scroll behaviour</strong>. It
              keeps the
              <strong>native</strong>
              <code>overflow: auto</code>
              scroll and
              <strong>only</strong> replace the scrollbar visual appearance.
            </p>
            <h5>Design it as you want</h5>
            <p>
              SimpleBar uses pure CSS to style the scrollbar. You can easily
              customize it as you want! Or even have multiple style on the same
              page...or just keep the default style ("Mac OS" scrollbar style).
            </p>
            <h5>Lightweight and performant</h5>
            <p>
              Only 6kb minified. SimpleBar doesn't use Javascript to handle
              scrolling. You keep the performances/behaviours of the native
              scroll.
            </p>
            <h5>Supported everywhere</h5>
            <p>
              SimpleBar has been tested on the following browsers: Chrome,
              Firefox, Safari, Edge, IE11.
            </p>
          </ngx-simplebar>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="rtl">
          RTL Position
          <a class="anchor-link" href="#rtl">#</a>
        </h5>
        <p class="text-muted">
          Just add tag <code>ngx-simplebar</code> and use data attribute
          <code> data-simplebar-direction='rtl'</code>
          and add <code>max-height: **px</code> oh fix height
        </p>
        <div class="border rounded py-3 mb-3">
          <ngx-simplebar
            class="px-3"
            data-simplebar-direction="rtl"
            style="max-height: 250px"
          >
            SimpleBar does only one thing: replace the browser's default
            scrollbar with a custom CSS-styled one without losing performances.
            Unlike some popular plugins, SimpleBar doesn't mimic scroll with
            Javascript, causing janks and strange scrolling behaviours... You
            keep the awesomeness of native scrolling...with a custom scrollbar!
            <p>
              SimpleBar
              <strong>does NOT implement a custom scroll behaviour</strong>. It
              keeps the
              <strong>native</strong>
              <code>overflow: auto</code>
              scroll and
              <strong>only</strong> replace the scrollbar visual appearance.
            </p>
            <h5>Design it as you want</h5>
            <p>
              SimpleBar uses pure CSS to style the scrollbar. You can easily
              customize it as you want! Or even have multiple style on the same
              page...or just keep the default style ("Mac OS" scrollbar style).
            </p>
            <h5>Lightweight and performant</h5>
            <p>
              Only 6kb minified. SimpleBar doesn't use Javascript to handle
              scrolling. You keep the performances/behaviours of the native
              scroll.
            </p>
            <h5>Supported everywhere</h5>
            <p>
              SimpleBar has been tested on the following browsers: Chrome,
              Firefox, Safari, Edge, IE11.
            </p>
          </ngx-simplebar>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="size">
          Scroll Size
          <a class="anchor-link" href="#size">#</a>
        </h5>
        <p class="text-muted">
          Just add a tag <code>ngx-simplebar</code> and use data attribute use
          data attribute <code>data-simplebar-lg</code> and add
          <code>max-height: **px</code> oh fix height
        </p>
        <div class="border rounded py-3 mb-3">
          <ngx-simplebar
            class="px-3"
            data-simplebar-lg
            style="max-height: 250px"
          >
            SimpleBar does only one thing: replace the browser's default
            scrollbar with a custom CSS-styled one without losing performances.
            Unlike some popular plugins, SimpleBar doesn't mimic scroll with
            Javascript, causing janks and strange scrolling behaviours... You
            keep the awesomeness of native scrolling...with a custom scrollbar!
            <p>
              SimpleBar
              <strong>does NOT implement a custom scroll behaviour</strong>. It
              keeps the
              <strong>native</strong>
              <code>overflow: auto</code>
              scroll and
              <strong>only</strong> replace the scrollbar visual appearance.
            </p>
            <h5>Design it as you want</h5>
            <p>
              SimpleBar uses pure CSS to style the scrollbar. You can easily
              customize it as you want! Or even have multiple style on the same
              page...or just keep the default style ("Mac OS" scrollbar style).
            </p>
            <h5>Lightweight and performant</h5>
            <p>
              Only 6kb minified. SimpleBar doesn't use Javascript to handle
              scrolling. You keep the performances/behaviours of the native
              scroll.
            </p>
            <h5>Supported everywhere</h5>
            <p>
              SimpleBar has been tested on the following browsers: Chrome,
              Firefox, Safari, Edge, IE11.
            </p>
          </ngx-simplebar>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="color">
          Scroll Color
          <a class="anchor-link" href="#color">#</a>
        </h5>
        <p class="text-muted">
          Just add a tag <code>ngx-simplebar</code> and use data attribute
          <code>data-simplebar data-simplebar-*</code>
          and add <code>max-height: **px</code> oh fix height
        </p>

        <div class="border rounded py-3 mb-3">
          <ngx-simplebar
            class="px-3"
            data-simplebar-primary
            style="max-height: 250px"
          >
            SimpleBar does only one thing: replace the browser's default
            scrollbar with a custom CSS-styled one without losing performances.
            Unlike some popular plugins, SimpleBar doesn't mimic scroll with
            Javascript, causing janks and strange scrolling behaviours... You
            keep the awesomeness of native scrolling...with a custom scrollbar!
            <p>
              SimpleBar
              <strong>does NOT implement a custom scroll behaviour</strong>. It
              keeps the
              <strong>native</strong>
              <code>overflow: auto</code>
              scroll and
              <strong>only</strong> replace the scrollbar visual appearance.
            </p>
            <h5>Design it as you want</h5>
            <p>
              SimpleBar uses pure CSS to style the scrollbar. You can easily
              customize it as you want! Or even have multiple style on the same
              page...or just keep the default style ("Mac OS" scrollbar style).
            </p>
            <h5>Lightweight and performant</h5>
            <p>
              Only 6kb minified. SimpleBar doesn't use Javascript to handle
              scrolling. You keep the performances/behaviours of the native
              scroll.
            </p>
            <h5>Supported everywhere</h5>
            <p>
              SimpleBar has been tested on the following browsers: Chrome,
              Firefox, Safari, Edge, IE11.
            </p>
          </ngx-simplebar>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3">
    <ui-examples-list
      [linkList]="[
        { label: 'Default Scroll Example', link: '#default' },
        { label: 'RTL Position', link: '#rtl' },
        { label: 'Scroll Size', link: '#size' },
        { label: 'Scroll Color', link: '#color' },
      ]"
    />
  </div>
</div>
