<app-page-title [title]="'Base UI'" [subtitle]="'Carousel'" />

<div class="row">
  <div class="col-xl-9">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor">
          Slides Only<a class="anchor-link">#</a>
        </h5>
        <p class="text-muted">
          Here’s a carousel with slides only. Note the presence of the
          <code>.d-block</code> and <code>.img-fluid</code> on carousel images
          to prevent browser default image alignment.
        </p>

        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3 mx-auto">
              <div
                id="slides-only"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <ngb-carousel
                  class="carousel-inner"
                  [showNavigationIndicators]="showNavigationIndicators"
                  [showNavigationArrows]="showNavigationArrows"
                >
                  <ng-template ngbSlide class="carousel-item active">
                    <img
                      src="assets/images/small/img-2.jpg"
                      class="d-block w-100"
                      alt="img-2"
                    />
                  </ng-template>
                  <ng-template ngbSlide class="carousel-item">
                    <img
                      src="assets/images/small/img-3.jpg"
                      class="d-block w-100"
                      alt="img-3"
                    />
                  </ng-template>
                  <ng-template ngbSlide class="carousel-item">
                    <img
                      src="assets/images/small/img-4.jpg"
                      class="d-block w-100"
                      alt="img-4"
                    />
                  </ng-template>
                </ngb-carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor">
          With Controls
          <a class="anchor-link" href="#with-controls">#</a>
        </h5>
        <p class="text-muted">Adding in the previous and next controls:</p>
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <div
                id="with-controls"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <ngb-carousel
                  [showNavigationIndicators]="showNavigationIndicators"
                >
                  <ng-template ngbSlide class="carousel-item active">
                    <img
                      src="assets/images/small/img-4.jpg"
                      class="d-block w-100"
                      alt="img-4"
                    />
                  </ng-template>
                  <ng-template ngbSlide class="carousel-item">
                    <img
                      src="assets/images/small/img-2.jpg"
                      class="d-block w-100"
                      alt="img-2"
                    />
                  </ng-template>
                  <ng-template ngbSlide class="carousel-item">
                    <img
                      src="assets/images/small/img-3.jpg"
                      class="d-block w-100"
                      alt="img-3"
                    />
                  </ng-template>
                </ngb-carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor">
          With Indicators
          <a class="anchor-link" href="#with-indicators">#</a>
        </h5>
        <p class="text-muted">
          You can also add the indicators to the carousel, alongside the
          controls, too.
        </p>

        <div class="row">
          <div class="col-lg-6">
            <div class="mx-auto mb-3">
              <div
                id="with-indicators"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-indicators">
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                  ></button>
                </div>
                <ngb-carousel>
                  <ng-template ngbSlide class="carousel-item active">
                    <img
                      src="assets/images/small/img-5.jpg"
                      class="d-block w-100"
                      alt="img-5"
                    />
                  </ng-template>
                  <ng-template ngbSlide class="carousel-item">
                    <img
                      src="assets/images/small/img-6.jpg"
                      class="d-block w-100"
                      alt="img-6"
                    />
                  </ng-template>
                  <ng-template ngbSlide class="carousel-item">
                    <img
                      src="assets/images/small/img-7.jpg"
                      class="d-block w-100"
                      alt="img-7"
                    />
                  </ng-template>
                </ngb-carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor">
          With Captions
          <a class="anchor-link" href="#with-captions">#</a>
        </h5>
        <p>
          Add captions to your slides easily with the
          <code>.carousel-caption</code> element within any
          <code>.carousel-item</code>. They can be easily hidden on smaller
          viewports, as shown below, with optional display utilities. We hide
          them initially with <code>.d-none</code> and bring them back on
          medium-sized devices with <code>.d-md-block</code>.
        </p>

        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <div
                id="with-captions"
                class="carousel slide"
                data-bs-ride="carousel"
              >
                <ngb-carousel
                  [showNavigationIndicators]="showNavigationIndicators"
                >
                  <ng-template ngbSlide class="carousel-item active">
                    <img
                      src="assets/images/small/img-6.jpg"
                      class="d-block w-100"
                      alt="img-6"
                    />
                    <div class="carousel-caption d-none d-md-block">
                      <h5 class="text-white">First slide label</h5>
                      <p>
                        Some representative placeholder content for the first
                        slide.
                      </p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide class="carousel-item">
                    <img
                      src="assets/images/small/img-7.jpg"
                      class="d-block w-100"
                      alt="img-7"
                    />
                    <div class="carousel-caption d-none d-md-block">
                      <h5 class="text-white">Second slide label</h5>
                      <p>
                        Some representative placeholder content for the second
                        slide.
                      </p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide class="carousel-item">
                    <img
                      src="assets/images/small/img-5.jpg"
                      class="d-block w-100"
                      alt="img-5"
                    />
                    <div class="carousel-caption d-none d-md-block">
                      <h5 class="text-white">Third slide label</h5>
                      <p>
                        Some representative placeholder content for the third
                        slide.
                      </p>
                    </div>
                  </ng-template>
                </ngb-carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor">
          Crossfade
          <a class="anchor-link" href="#crossfade">#</a>
        </h5>
        <p class="text-muted">
          Add <code>[animation]="true"</code> to your carousel to animate slides
          with a fade transition instead of a slide. Depending on your carousel
          content (e.g., text only slides), you may want to add
          <code>.bg-body</code> or some custom CSS to the
          <code>.carousel-item</code>s for proper crossfading.
        </p>

        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <div
                id="crossfade"
                class="carousel slide carousel-fade"
                data-bs-ride="carousel"
              >
                <ngb-carousel
                  [animation]="true"
                  [showNavigationIndicators]="false"
                >
                  <ng-template ngbSlide class="carousel-item active">
                    <img
                      src="assets/images/small/img-1.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </ng-template>
                  <ng-template ngbSlide class="carousel-item">
                    <img
                      src="assets/images/small/img-2.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </ng-template>
                  <ng-template ngbSlide class="carousel-item">
                    <img
                      src="assets/images/small/img-3.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </ng-template>
                </ngb-carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor">
          Individual
          <code> .carousel-item </code> interval
          <a class="anchor-link" href="#individual-carousel-item-interval">#</a>
        </h5>
        <p class="text-muted">
          Add <code>[interval]=""</code> to a <code>.carousel-item</code> to
          change the amount of time to delay between automatically cycling to
          the next item.
        </p>

        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <div
                id="individual-carousel-item-interval"
                class="carousel slide"
              >
                <ngb-carousel
                  class="carousel-inner"
                  [showNavigationIndicators]="false"
                  [interval]="10000"
                >
                  <ng-template ngbSlide class="carousel-item active">
                    <img
                      src="assets/images/small/img-1.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </ng-template>
                  <ng-template ngbSlide class="carousel-item">
                    <img
                      src="assets/images/small/img-2.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </ng-template>
                  <ng-template ngbSlide class="carousel-item">
                    <img
                      src="assets/images/small/img-3.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </ng-template>
                </ngb-carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor">
          Disable touch swiping
          <code> .carousel-item </code> interval
          <a class="anchor-link" href="#disable-touch-swiping">#</a>
        </h5>
        <p class="text-muted">
          Carousels support swiping left/right on touchscreen devices to move
          between slides. This can be disabled using the
          <code>data-bs-touch</code> attribute. The example below also does not
          include the <code>data-bs-ride</code> attribute so it doesn’t
          autoplay.
        </p>

        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <div id="disable-touch-swiping" class="carousel slide">
                <ngb-carousel
                  [showNavigationIndicators]="showNavigationIndicators"
                  [showNavigationArrows]="!showNavigationArrows"
                  class="carousel-inner"
                >
                  <ng-template ngbSlide class="carousel-item active">
                    <img
                      src="assets/images/small/img-4.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </ng-template>
                  <ng-template ngbSlide class="carousel-item">
                    <img
                      src="assets/images/small/img-5.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </ng-template>
                  <ng-template ngbSlide class="carousel-item">
                    <img
                      src="assets/images/small/img-6.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </ng-template>
                </ngb-carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor">
          Dark Variant
          <code> .carousel-item </code> interval
          <a class="anchor-link" href="#dark-variant">#</a>
        </h5>
        <p class="text-muted">
          Add <code>.carousel-dark</code> to the <code>.carousel</code> for
          darker controls, indicators, and captions. Controls have been inverted
          from their default white fill with the <code>filter</code> CSS
          property. Captions and controls have additional Sass variables that
          customize the <code>color</code> and <code>background-color</code>.
        </p>

        <div class="row">
          <div class="col-lg-6">
            <div class="mb-3">
              <div
                id="carouselExampleDark"
                class="carousel carousel-dark slide"
                data-bs-ride="carousel"
              >
                <div class="carousel-indicators">
                  <button
                    type="button"
                    data-bs-target="#carouselExampleDark"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleDark"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                  ></button>
                  <button
                    type="button"
                    data-bs-target="#carouselExampleDark"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                  ></button>
                </div>
                <ngb-carousel
                  class="carousel-inner"
                  [showNavigationIndicators]="!showNavigationIndicators"
                  [showNavigationArrows]="!showNavigationArrows"
                >
                  <ng-template
                    ngbSlide
                    class="carousel-item active"
                    data-bs-interval="10000"
                  >
                    <img
                      src="assets/images/small/img-8.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                    <div class="carousel-caption d-none d-md-block">
                      <h5>First slide label</h5>
                      <p>
                        Some representative placeholder content for the first
                        slide.
                      </p>
                    </div>
                  </ng-template>
                  <ng-template
                    ngbSlide
                    class="carousel-item"
                    data-bs-interval="2000"
                  >
                    <img
                      src="assets/images/small/img-9.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Second slide label</h5>
                      <p>
                        Some representative placeholder content for the second
                        slide.
                      </p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide class="carousel-item">
                    <img
                      src="assets/images/small/img-10.jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Third slide label</h5>
                      <p>
                        Some representative placeholder content for the third
                        slide.
                      </p>
                    </div>
                  </ng-template>
                </ngb-carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3">
    <ui-examples-list
      [linkList]="[
        { label: 'Slide Only', link: '#slides-only' },
        { label: 'With Controls', link: '#with-controls' },
        { label: 'With Indicators', link: '#with-indicators' },
        { label: 'With Captions', link: '#with-captions' },
        { label: 'Crossfade', link: '#crossfade' },
        {
          label: 'Individual .carousel-item interval',
          link: '#individual-carousel-item-interval',
        },
        { label: 'Disable touch swiping', link: '#disable-touch-swiping' },
        { label: 'Dark Variant', link: '#carouselExampleDark' },
      ]"
    />
  </div>
</div>
