<app-page-title [title]="'Base UI'" [subtitle]="'Nav Tabs'" />

<div class="row">
  <div class="col-xl-9">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="default">
          Nav Tabs<a class="anchor-link" href="#default">#</a>
        </h5>
        <p class="text-muted mb-3">
          Use the <code>.nav-tabs</code> class to generate a tabbed interface.
        </p>
        <ul ngbNav #nav="ngbNav" class="nav nav-tabs">
          <li class="nav-item" ngbNavItem>
            <a
              href="#home"
              ngbNavLink
              data-bs-toggle="tab"
              aria-expanded="false"
              class="nav-link"
            >
              <span class="d-block d-sm-none"><i class="bx bx-home"></i></span>
              <span class="d-none d-sm-block">Home</span>
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane show active" id="home">
                <p class="mb-0">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium, totam rem aperiam, eaque
                  ipsa quae ab illo inventore veritatis et quasi architecto
                  beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                  quia voluptas sit aspernatur aut odit aut fugit, sed quia
                  consequuntur magni dolores eos qui ratione voluptatem sequi
                  nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                  dolor sit amet, consectetur, adipisci velit, sed quia non
                  numquam eius modi tempora incidunt ut labore et dolore magnam
                  aliquam quaerat voluptatem?
                </p>
              </div>
            </ng-template>
          </li>
          <li class="nav-item" ngbNavItem>
            <a
              href="#profile"
              ngbNavLink
              data-bs-toggle="tab"
              aria-expanded="true"
              class="nav-link"
            >
              <span class="d-block d-sm-none"><i class="bx bx-user"></i></span>
              <span class="d-none d-sm-block">Profile</span>
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane show active" id="profile">
                <p class="mb-0">
                  Li Europan lingues es membres del sam familie. Lor separat
                  existentie es un myth. Por scientie, musica, sport etc, litot
                  Europa usa li sam vocabular. Li lingues differe solmen in li
                  grammatica, li pronunciation e li plu commun vocabules.
                  Omnicos directe al desirabilite de un nov lingua franca: On
                  refusa continuar payar custosi traductores. At solmen va esser
                  necessi far uniform grammatica, pronunciation e plu sommun
                  paroles. Ma quande lingues coalesce, li grammatica del
                  resultant lingue es plu simplic e regulari quam ti del
                  coalescent lingues. Li nov lingua franca va esser plu simplic
                  e regulari quam li existent Europan lingues.
                </p>
              </div>
            </ng-template>
          </li>
          <li class="nav-item" ngbNavItem>
            <a
              href="#messages"
              ngbNavLink
              data-bs-toggle="tab"
              aria-expanded="false"
              class="nav-link"
            >
              <span class="d-block d-sm-none"
                ><i class="bx bx-envelope"></i
              ></span>
              <span class="d-none d-sm-block">Messages</span>
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane show active" id="messages">
                <p class="mb-0">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                  accusantium doloremque laudantium, totam rem aperiam, eaque
                  ipsa quae ab illo inventore veritatis et quasi architecto
                  beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                  quia voluptas sit aspernatur aut odit aut fugit, sed quia
                  consequuntur magni dolores eos qui ratione voluptatem sequi
                  nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
                  dolor sit amet, consectetur, adipisci velit, sed quia non
                  numquam eius modi tempora incidunt ut labore et dolore magnam
                  aliquam quaerat voluptatem?
                </p>
              </div>
            </ng-template>
          </li>
        </ul>
        <div class="tab-content text-muted" [ngbNavOutlet]="nav"></div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="static-backdrop">
          Tabs Justified
          <a class="anchor-link" href="#static-backdrop">#</a>
        </h5>
        <p class="text-muted">
          Using class <code>.nav-justified</code>, you can force your tabs menu
          items to use the full available width.
        </p>

        <div class="mb-3">
          <ul ngbNav #navTabs="ngbNav" class="nav nav-tabs nav-justified">
            <li class="nav-item" ngbNavItem>
              <a
                href="#homeTabsJustified"
                ngbNavLink
                data-bs-toggle="tab"
                aria-expanded="false"
                class="nav-link"
              >
                <span class="d-block d-sm-none"
                  ><i class="bx bx-home"></i
                ></span>
                <span class="d-none d-sm-block">Home</span>
              </a>
              <ng-template ngbNavContent>
                <div class="tab-pane show active" id="homeTabsJustified">
                  <p class="mb-0">
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis et
                    quasi architecto beatae vitae dicta sunt explicabo. Nemo
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                    aut fugit, sed quia consequuntur magni dolores eos qui
                    ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                    qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                    velit, sed quia non numquam eius modi tempora incidunt ut
                    labore et dolore magnam aliquam quaerat voluptatem?
                  </p>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a
                href="#profileTabsJustified"
                ngbNavLink
                data-bs-toggle="tab"
                aria-expanded="true"
                class="nav-link"
              >
                <span class="d-block d-sm-none"
                  ><i class="bx bx-user"></i
                ></span>
                <span class="d-none d-sm-block">Profile</span>
              </a>
              <ng-template ngbNavContent>
                <div class="tab-pane show active" id="profileTabsJustified">
                  <p class="mb-0">
                    Li Europan lingues es membres del sam familie. Lor separat
                    existentie es un myth. Por scientie, musica, sport etc,
                    litot Europa usa li sam vocabular. Li lingues differe solmen
                    in li grammatica, li pronunciation e li plu commun
                    vocabules. Omnicos directe al desirabilite de un nov lingua
                    franca: On refusa continuar payar custosi traductores. At
                    solmen va esser necessi far uniform grammatica,
                    pronunciation e plu sommun paroles. Ma quande lingues
                    coalesce, li grammatica del resultant lingue es plu simplic
                    e regulari quam ti del coalescent lingues. Li nov lingua
                    franca va esser plu simplic e regulari quam li existent
                    Europan lingues.
                  </p>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a
                href="#messagesTabsJustified"
                ngbNavLink
                data-bs-toggle="tab"
                aria-expanded="false"
                class="nav-link"
              >
                <span class="d-block d-sm-none"
                  ><i class="bx bx-envelope"></i
                ></span>
                <span class="d-none d-sm-block">Messages</span>
              </a>
              <ng-template ngbNavContent>
                <div class="tab-pane show active" id="messagesTabsJustified">
                  <p class="mb-0">
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis et
                    quasi architecto beatae vitae dicta sunt explicabo. Nemo
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                    aut fugit, sed quia consequuntur magni dolores eos qui
                    ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                    qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                    velit, sed quia non numquam eius modi tempora incidunt ut
                    labore et dolore magnam aliquam quaerat voluptatem?
                  </p>
                </div>
              </ng-template>
            </li>
          </ul>
          <div
            class="tab-content pt-2 text-muted"
            [ngbNavOutlet]="navTabs"
          ></div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="scrolling-long-content">
          Nav Pills
          <a class="anchor-link" href="#scrolling-long-content">#</a>
        </h5>
        <p class="text-muted">
          Use the <code>.nav-pills</code> class to generate a pilled interface.
        </p>

        <div class="mb-3">
          <ul class="nav nav-pills" ngbNav #navPills="ngbNav">
            <li class="nav-item" ngbNavItem>
              <a
                href="#homePill"
                ngbNavLink
                data-bs-toggle="tab"
                aria-expanded="false"
                class="nav-link"
              >
                <span class="d-block d-sm-none"
                  ><i class="bx bx-home"></i
                ></span>
                <span class="d-none d-sm-block">Home</span>
              </a>
              <ng-template ngbNavContent>
                <div class="tab-pane show active" id="homePill">
                  <p class="mb-0">
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis et
                    quasi architecto beatae vitae dicta sunt explicabo. Nemo
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                    aut fugit, sed quia consequuntur magni dolores eos qui
                    ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                    qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                    velit, sed quia non numquam eius modi tempora incidunt ut
                    labore et dolore magnam aliquam quaerat voluptatem?
                  </p>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a
                href="#profilePill"
                ngbNavLink
                data-bs-toggle="tab"
                aria-expanded="true"
                class="nav-link"
              >
                <span class="d-block d-sm-none"
                  ><i class="bx bx-user"></i
                ></span>
                <span class="d-none d-sm-block">Profile</span>
              </a>
              <ng-template ngbNavContent>
                <div class="tab-pane show active" id="profilePill">
                  <p class="mb-0">
                    Li Europan lingues es membres del sam familie. Lor separat
                    existentie es un myth. Por scientie, musica, sport etc,
                    litot Europa usa li sam vocabular. Li lingues differe solmen
                    in li grammatica, li pronunciation e li plu commun
                    vocabules. Omnicos directe al desirabilite de un nov lingua
                    franca: On refusa continuar payar custosi traductores. At
                    solmen va esser necessi far uniform grammatica,
                    pronunciation e plu sommun paroles. Ma quande lingues
                    coalesce, li grammatica del resultant lingue es plu simplic
                    e regulari quam ti del coalescent lingues. Li nov lingua
                    franca va esser plu simplic e regulari quam li existent
                    Europan lingues.
                  </p>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a
                href="#messagesPill"
                ngbNavLink
                data-bs-toggle="tab"
                aria-expanded="false"
                class="nav-link"
              >
                <span class="d-block d-sm-none"
                  ><i class="bx bx-envelope"></i
                ></span>
                <span class="d-none d-sm-block">Messages</span>
              </a>
              <ng-template ngbNavContent>
                <div class="tab-pane" id="messagesPill">
                  <p class="mb-0">
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudantium, totam rem
                    aperiam, eaque ipsa quae ab illo inventore veritatis et
                    quasi architecto beatae vitae dicta sunt explicabo. Nemo
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                    aut fugit, sed quia consequuntur magni dolores eos qui
                    ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                    qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                    velit, sed quia non numquam eius modi tempora incidunt ut
                    labore et dolore magnam aliquam quaerat voluptatem?
                  </p>
                </div>
              </ng-template>
            </li>
          </ul>
          <div
            class="tab-content pt-2 text-muted"
            [ngbNavOutlet]="navPills"
          ></div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="modal-position">
          Pills Justified
          <a class="anchor-link" href="#modal-position">#</a>
        </h5>
        <p class="text-muted">
          Using class <code>.nav-justified</code>, you can force your pills menu
          items to use the full available width.
        </p>

        <div class="mb-3">
          <div class="d-flex flex-wrap gap-2">
            <ul
              class="nav nav-pills nav-justified p-1"
              ngbNav
              #justified="ngbNav"
            >
              <li class="nav-item" ngbNavItem>
                <a
                  href="#homePillJustified"
                  ngbNavLink
                  data-bs-toggle="tab"
                  aria-expanded="false"
                  class="nav-link"
                >
                  <span class="d-block d-sm-none"
                    ><i class="bx bx-home"></i
                  ></span>
                  <span class="d-none d-sm-block">Home</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="tab-pane show active" id="homePillJustified">
                    <p class="mb-0">
                      Sed ut perspiciatis unde omnis iste natus error sit
                      voluptatem accusantium doloremque laudantium, totam rem
                      aperiam, eaque ipsa quae ab illo inventore veritatis et
                      quasi architecto beatae vitae dicta sunt explicabo. Nemo
                      enim ipsam voluptatem quia voluptas sit aspernatur aut
                      odit aut fugit, sed quia consequuntur magni dolores eos
                      qui ratione voluptatem sequi nesciunt. Neque porro
                      quisquam est, qui dolorem ipsum quia dolor sit amet,
                      consectetur, adipisci velit, sed quia non numquam eius
                      modi tempora incidunt ut labore et dolore magnam aliquam
                      quaerat voluptatem?
                    </p>
                  </div>
                </ng-template>
              </li>
              <li class="nav-item" ngbNavItem>
                <a
                  href="#profilePillJustified"
                  ngbNavLink
                  data-bs-toggle="tab"
                  aria-expanded="true"
                  class="nav-link"
                >
                  <span class="d-block d-sm-none"
                    ><i class="bx bx-user"></i
                  ></span>
                  <span class="d-none d-sm-block">Profile</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="tab-pane show active" id="profilePillJustified">
                    <p class="mb-0">
                      Li Europan lingues es membres del sam familie. Lor separat
                      existentie es un myth. Por scientie, musica, sport etc,
                      litot Europa usa li sam vocabular. Li lingues differe
                      solmen in li grammatica, li pronunciation e li plu commun
                      vocabules. Omnicos directe al desirabilite de un nov
                      lingua franca: On refusa continuar payar custosi
                      traductores. At solmen va esser necessi far uniform
                      grammatica, pronunciation e plu sommun paroles. Ma quande
                      lingues coalesce, li grammatica del resultant lingue es
                      plu simplic e regulari quam ti del coalescent lingues. Li
                      nov lingua franca va esser plu simplic e regulari quam li
                      existent Europan lingues.
                    </p>
                  </div>
                </ng-template>
              </li>
              <li class="nav-item" ngbNavItem>
                <a
                  href="#messagesPillJustified"
                  ngbNavLink
                  data-bs-toggle="tab"
                  aria-expanded="false"
                  class="nav-link"
                >
                  <span class="d-block d-sm-none"
                    ><i class="bx bx-envelope"></i
                  ></span>
                  <span class="d-none d-sm-block">Messages</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="tab-pane show active" id="messagesPillJustified">
                    <p class="mb-0">
                      Sed ut perspiciatis unde omnis iste natus error sit
                      voluptatem accusantium doloremque laudantium, totam rem
                      aperiam, eaque ipsa quae ab illo inventore veritatis et
                      quasi architecto beatae vitae dicta sunt explicabo. Nemo
                      enim ipsam voluptatem quia voluptas sit aspernatur aut
                      odit aut fugit, sed quia consequuntur magni dolores eos
                      qui ratione voluptatem sequi nesciunt. Neque porro
                      quisquam est, qui dolorem ipsum quia dolor sit amet,
                      consectetur, adipisci velit, sed quia non numquam eius
                      modi tempora incidunt ut labore et dolore magnam aliquam
                      quaerat voluptatem?
                    </p>
                  </div>
                </ng-template>
              </li>
            </ul>
            <div
              class="tab-content pt-2 text-muted"
              [ngbNavOutlet]="justified"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="toggle-between-modals">
          Tabs Vertical Left
          <a class="anchor-link" href="#toggle-between-modals">#</a>
        </h5>
        <p class="text-muted">
          You can stack your navigation by changing the flex item direction with
          the <code>.flex-column</code> utility.
        </p>

        <div class="mb-3">
          <div class="row">
            <div class="col-sm-3 mb-2 mb-sm-0">
              <div
                class="nav flex-column nav-pills"
                ngbNav
                #vertical="ngbNav"
                id="vl-pills-tab"
                role="tablist"
                aria-orientation="vertical"
              >
                <ng-container ngbNavItem>
                  <a
                    class="nav-link"
                    ngbNavLink
                    id="vl-pills-home-tab"
                    data-bs-toggle="pill"
                    role="tab"
                    aria-controls="vl-pills-home"
                    aria-selected="true"
                  >
                    <span>Home</span>
                  </a>
                  <ng-template ngbNavContent>
                    <div
                      class="tab-pane active show"
                      id="vl-pills-home"
                      role="tabpanel"
                      aria-labelledby="vl-pills-home-tab"
                    >
                      <p class="mb-0">
                        Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem
                        aperiam, eaque ipsa quae ab illo inventore veritatis et
                        quasi architecto beatae vitae dicta sunt explicabo. Nemo
                        enim ipsam voluptatem quia voluptas sit aspernatur aut
                        odit aut fugit, sed quia consequuntur magni dolores eos
                        qui ratione voluptatem sequi nesciunt.
                      </p>
                    </div>
                  </ng-template>
                </ng-container>
                <ng-container ngbNavItem>
                  <a
                    class="nav-link"
                    id="vl-pills-profile-tab"
                    ngbNavLink
                    data-bs-toggle="pill"
                    role="tab"
                    aria-controls="vl-pills-profile"
                    aria-selected="false"
                  >
                    <span>Profile</span>
                  </a>
                  <ng-template ngbNavContent>
                    <div
                      class="tab-pane show active"
                      id="vl-pills-profile"
                      role="tabpanel"
                      aria-labelledby="vl-pills-profile-tab"
                    >
                      <p class="mb-0">
                        Li Europan lingues es membres del sam familie. Lor
                        separat existentie es un myth. Por scientie, musica,
                        sport etc, litot Europa usa li sam vocabular. Li lingues
                        differe solmen in li grammatica, li pronunciation e li
                        plu commun vocabules. Omnicos directe al desirabilite de
                        un nov lingua franca: On refusa continuar payar custosi
                        traductores. At solmen va esser necessi far uniform.
                      </p>
                    </div>
                  </ng-template>
                </ng-container>
                <ng-container ngbNavItem>
                  <a
                    class="nav-link"
                    ngbNavLink
                    id="vl-pills-settings-tab"
                    data-bs-toggle="pill"
                    role="tab"
                    aria-controls="vl-pills-settings"
                    aria-selected="false"
                  >
                    <span>Settings</span>
                  </a>
                  <ng-template ngbNavContent>
                    <div
                      class="tab-pane show active"
                      id="vl-pills-settings"
                      role="tabpanel"
                      aria-labelledby="vl-pills-settings-tab"
                    >
                      <p class="mb-0">
                        Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem
                        aperiam, eaque ipsa quae ab illo inventore veritatis et
                        quasi architecto beatae vitae dicta sunt explicabo. Nemo
                        enim ipsam voluptatem quia voluptas sit aspernatur aut
                        odit aut fugit, sed quia consequuntur magni dolores eos
                        qui ratione voluptatem sequi nesciunt.
                      </p>
                    </div>
                  </ng-template>
                </ng-container>
              </div>
            </div>

            <div class="col-sm-9">
              <div
                class="tab-content pt-0"
                id="vl-pills-tabContent"
                [ngbNavOutlet]="vertical"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="varying-modal-content">
          Tabs Vertical Right
          <a class="anchor-link" href="#varying-modal-content">#</a>
        </h5>
        <p class="text-muted">
          You can stack your navigation by changing the flex item direction with
          the <code>.flex-column</code> utility.
        </p>

        <div class="mb-3">
          <div class="row">
            <div class="col-sm-9 mb-2 mb-sm-0">
              <div
                class="tab-content pt-0"
                [ngbNavOutlet]="verticalEnd"
                id="vr-pills-tabContent"
              ></div>
            </div>
            <div class="col-sm-3">
              <div
                ngbNav
                #verticalEnd="ngbNav"
                class="nav flex-column nav-pills"
                id="vr-pills-tab"
                role="tablist"
                aria-orientation="vertical"
              >
                <div ngbNavItem>
                  <a
                    class="nav-link"
                    ngbNavLink
                    id="vr-pills-home-tab"
                    data-bs-toggle="pill"
                    role="tab"
                    aria-controls="vr-pills-home"
                    aria-selected="true"
                  >
                    <span>Home</span>
                  </a>
                  <ng-template ngbNavContent>
                    <div
                      class="tab-pane active show"
                      id="vr-pills-home"
                      role="tabpanel"
                      aria-labelledby="vr-pills-home-tab"
                    >
                      <p class="mb-0">
                        Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem
                        aperiam, eaque ipsa quae ab illo inventore veritatis et
                        quasi architecto beatae vitae dicta sunt explicabo. Nemo
                        enim ipsam voluptatem quia voluptas sit aspernatur aut
                        odit aut fugit, sed quia consequuntur magni dolores eos
                        qui ratione voluptatem sequi nesciunt.
                      </p>
                    </div>
                  </ng-template>
                </div>
                <div ngbNavItem>
                  <a
                    class="nav-link"
                    ngbNavLink
                    id="vr-pills-profile-tab"
                    data-bs-toggle="pill"
                    role="tab"
                    aria-controls="vr-pills-profile"
                    aria-selected="false"
                  >
                    <span>Profile</span>
                  </a>
                  <ng-template ngbNavContent>
                    <div
                      class="tab-pane active show"
                      id="vr-pills-profile"
                      role="tabpanel"
                      aria-labelledby="vr-pills-profile-tab"
                    >
                      <p class="mb-0">
                        Li Europan lingues es membres del sam familie. Lor
                        separat existentie es un myth. Por scientie, musica,
                        sport etc, litot Europa usa li sam vocabular. Li lingues
                        differe solmen in li grammatica, li pronunciation e li
                        plu commun vocabules. Omnicos directe al desirabilite de
                        un nov lingua franca: On refusa continuar payar custosi
                        traductores. At solmen va esser necessi far uniform.
                      </p>
                    </div>
                  </ng-template>
                </div>
                <div ngbNavItem>
                  <a
                    class="nav-link"
                    ngbNavLink
                    id="vr-pills-settings-tab"
                    data-bs-toggle="pill"
                    role="tab"
                    aria-controls="vr-pills-settings"
                    aria-selected="false"
                  >
                    <span>Settings</span>
                  </a>
                  <ng-template ngbNavContent>
                    <div
                      class="tab-pane show active"
                      id="vr-pills-settings"
                      role="tabpanel"
                      aria-labelledby="vr-pills-settings-tab"
                    >
                      <p class="mb-0">
                        Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem
                        aperiam, eaque ipsa quae ab illo inventore veritatis et
                        quasi architecto beatae vitae dicta sunt explicabo. Nemo
                        enim ipsam voluptatem quia voluptas sit aspernatur aut
                        odit aut fugit, sed quia consequuntur magni dolores eos
                        qui ratione voluptatem sequi nesciunt.
                      </p>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3">
    <ui-examples-list
      [linkList]="[
        { label: 'Nav Tabs', link: '#default' },
        { label: 'Static Backdrop', link: '#static-backdrop' },
        { label: 'Scrolling Long Content', link: '#scrolling-long-content' },
        { label: 'Toggle Between Modals', link: '#toggle-between-modals' },
        { label: 'Varying Modal Content', link: '#varying-modal-content' },
      ]"
    />
  </div>
</div>
