<app-page-title [title]="'Icons'" [subtitle]="'IconaMoon Icons'" />

<div
  class="d-flex flex-wrap align-items-center justify-content-between gap-3 mb-3"
>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:3d-bold" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">3d</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:apps-bold" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Apps bold</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:arrow-bottom-left-1-fill"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Arrow bottom</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:arrow-bottom-left-2-light"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Arrow bottom</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:attachment" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Attachment</h5>
    </div>
  </div>

  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:attention-circle-bold"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Attention</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:backspace-duotone"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Backspace</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:badge-fill" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Badge</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:bluetooth-light"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Bluetooth</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:bookmark-light" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Bookmark</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:bookmark-off" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Bookmark Off</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:box-bold" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Box</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:briefcase-duotone"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Briefcase</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:calculator-light"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Calculator</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:calendar-1-thin"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Calendar</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:camera-image" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Camera</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:camera-video-bold"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">CameraVideo</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:category-duotone"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Category</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:certificate-badge-fill"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Certificate</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:check-circle-1-light"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Check Circle</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:cheque-thin" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Cheque</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:clock" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Clock</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:close-bold" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Close</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:cloud-add-duotone"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Cloud</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:cloud-clock-fill"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Cloud Clock</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:cloud-download-light"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">CloudDownload</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:cloud-error-thin"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Cloud Error</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:comment" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Comment</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:compare-bold" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Compare</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:component-duotone"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Component</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:confused-face-fill"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Confused</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:copy-light" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Copy</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:credit-card-thin"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Credit Card</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:cursor" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Cursor</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:delivery-bold" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Delivery</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:disappointed-face-duotone"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Disappointed</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:discount-fill" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Discount</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:discover-light" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Discover</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:dislike-thin" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Dislike</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:do-redo" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Do Redo</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:do-undo-bold" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Do Undo</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:download-fill" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Download</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:edit-duotone" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Edit Duotone</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:email-light" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Email</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:enter-thin" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Enter</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:exit" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Exit</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:expressionless-face-duotone"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Expressionless</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:eye-fill" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Eye</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:eye-off-thin" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Eye Off</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:face-with-open-mouth"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Face Open</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:face-without-mouth-bold"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Face Without</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:file-add-duotone"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">File Add</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:file-audio-fill"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">File Audio</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:flag-light" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Flag</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:frame" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Frame</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:frowning-face-bold"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Frowning</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:funnel-duotone" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Funnel</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:gift-fill" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Gift</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:headphone-light"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Headphone</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:heart-thin" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Heart</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:history" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">History</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:home-bold" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Home</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon
        icon="iconamoon:information-circle-duotone"
        class="fs-2"
      ></iconify-icon>
      <h5 class="mt-2 mb-0">Information</h5>
    </div>
  </div>
  <div class="card icon-box">
    <div
      class="card-body d-flex flex-column align-items-center justify-content-center"
    >
      <iconify-icon icon="iconamoon:invoice-fill" class="fs-2"></iconify-icon>
      <h5 class="mt-2 mb-0">Invoice</h5>
    </div>
  </div>
</div>

<div class="my-4 text-center">
  <a
    href="https://icon-sets.iconify.design/iconamoon/"
    target="_blank"
    class="btn btn-primary"
    >View All Icons</a
  >
</div>
