<app-page-title [title]="'Base UI'" [subtitle]="'Alert'" />

<div class="row">
  <div class="col-xl-9">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="overview">
          Basic Example
          <a class="anchor-link" href="#overview">#</a>
        </h5>
        <p class="text-muted">
          Provide contextual feedback messages for typical user actions with the
          handful of available and flexible alert messages. Alerts are available
          for any length of text, as well as an optional dismiss button.
        </p>
        <div class="mb-3">
          @for (item of alertData; track $index) {
            <ngb-alert
              [dismissible]="false"
              class="alert alert-primary"
              [type]="item.type"
              role="alert"
            >
              {{ item.message }}
            </ngb-alert>
          }
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="alert-dismissible">
          Dismissible Alerts Example
          <a class="anchor-link" href="#alert-dismissible">#</a>
        </h5>
        <p class="text-muted">
          Add a dismiss button and the
          <code> [dismissible]="false"</code> attribute, which adds extra
          padding to the right of the alert and positions the
          <code>.btn-close</code> button.
        </p>
        <div class="mb-3">
          @for (item of alertData; track $index) {
            <ngb-alert
              [dismissible]="false"
              class="alert alert-primary d-flex"
              [type]="item.type"
              role="alert"
            >
              {{ item.message }}
              <button
                type="button"
                class="btn-close ms-auto"
                (click)="close($index)"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </ngb-alert>
          }
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="alert-link">
          Alert Link Example
          <a class="anchor-link" href="#alert-link">#</a>
        </h5>
        <p class="text-muted">
          Use the <code>.alert-link</code> utility class to quickly provide
          matching colored links within any alert.
        </p>

        <div class="mb-3">
          @for (item of alertData; track $index) {
            @if ($index <= 3) {
              <ngb-alert
                [dismissible]="false"
                class="alert alert-primary"
                [type]="item.type"
                role="alert"
              >
                A simple {{ item.type }} alert with
                <a href="javascript:void(0);" class="alert-link"
                  >an example link</a
                >
                . Give it a click if you like.
              </ngb-alert>
            }
          }
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="alert-icon">
          Icons Alert Example
          <a class="anchor-link" href="#alert-icon">#</a>
        </h5>
        <p class="text-muted">
          You can also include additional elements like icons, heading, etc
          along side the actual message.
        </p>

        <div class="mb-3">
          @for (item of alertData; track $index) {
            @if ($index <= 3) {
              <ngb-alert
                [dismissible]="false"
                class="alert alert-primary alert-icon"
                [type]="item.type"
                role="alert"
              >
                <div class="d-flex align-items-center">
                  <div
                    class="avatar-sm rounded bg-{{
                      item.type
                    }} d-flex justify-content-center align-items-center fs-18 me-2 flex-shrink-0"
                  >
                    <i class="bx bx-info-circle text-white"></i>
                  </div>
                  <div class="flex-grow-1">
                    A simple {{ item.type }} alert—check it out!
                  </div>
                </div>
              </ngb-alert>
            }
          }
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="alert-additional">
          Additional Content Alert Example
          <a class="anchor-link" href="#alert-additional">#</a>
        </h5>
        <p class="text-muted">
          Alerts can also contain additional HTML elements like headings,
          paragraphs and dividers.
        </p>

        <div class="mb-3">
          <div class="row">
            <div class="col-xl-6">
              <div class="alert alert-primary mb-3 p-3 mb-xl-0" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p class="mb-0">
                  Aww yeah, you successfully read this important alert message.
                  This example text is going to run a bit longer so that you can
                  see how spacing within an alert works with this kind of
                  content.
                </p>
                <hr />
                <p class="mb-0">
                  Whenever you need to, be sure to use margin utilities to keep
                  things nice and tidy.
                </p>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="alert alert-secondary p-3 mb-0" role="alert">
                <h4 class="alert-heading">Well done!</h4>
                <p class="mb-0">
                  Aww yeah, you successfully read this important alert message.
                  This example text is going to run a bit longer so that you can
                  see how spacing within an alert works with this kind of
                  content.
                </p>
                <hr />
                <p class="mb-0">
                  Whenever you need to, be sure to use margin utilities to keep
                  things nice and tidy.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3">
    <ui-examples-list
      [linkList]="[
        { label: 'Basic Example', link: '#overview' },
        { label: 'Alert Dismissible', link: '#alert-dismissible' },
        { label: 'Alert Link', link: '#alert-link' },
        { label: 'Icons Alert', link: '#alert-icon' },
        { label: 'Additional Content Alert', link: '#alert-additional' },
      ]"
    />
  </div>
</div>
