<div class="row justify-content-center">
  <div class="col-xl-5">
    <div class="card auth-card">
      <div class="card-body px-3 py-5">
        <app-logo-box
          className="mx-auto mb-4 text-center auth-logo"
          height="24"
          logoHeight="30"
        />

        <h2 class="fw-bold text-center fs-18">Sign In</h2>
        <p class="text-muted text-center mt-1 mb-4">
          Enter your email address and password to access admin panel.
        </p>

        <div class="px-4">
          <form
            [formGroup]="signInForm"
            (ngSubmit)="login()"
            class="authentication-form"
          >
            <div class="mb-3">
              <label class="form-label" for="example-email">Email</label>
              <input
                type="email"
                formControlName="email"
                id="example-email"
                name="example-email"
                class="form-control"
                placeholder="Enter your email"
              />
            </div>
            <div class="mb-3">
              <a
                routerLink="/auth/reset-pass-2"
                class="float-end text-muted text-unline-dashed ms-1"
                >Reset password</a
              >
              <label class="form-label" for="example-password">Password</label>
              <input
                type="password"
                formControlName="password"
                id="example-password"
                class="form-control"
                placeholder="Enter your password"
              />
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="checkbox-signin"
                />
                <label class="form-check-label" for="checkbox-signin"
                  >Remember me</label
                >
              </div>
            </div>

            <div class="mb-1 text-center d-grid">
              <button class="btn btn-primary" type="submit">Sign In</button>
            </div>
          </form>

          <app-social-btn />
        </div>
      </div>
    </div>

    <p class="text-white mb-0 text-center">
      New here?
      <a routerLink="/auth/sign-up-2" class="text-white fw-bold ms-1"
        >Sign Up</a
      >
    </p>
  </div>
</div>
