<div class="row">
  <div class="col-xl-7">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-3">Products From Order #123456</h5>
        <div class="table-responsive">
          <table class="table table-centered table-dashed mb-0">
            <thead class="table-">
              <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>G15 Gaming Laptop</td>
                <td>3</td>
                <td>{{ currency }}240.59</td>
                <td>{{ currency }}721.77</td>
              </tr>
              <tr>
                <td>
                  Sony Alpha ILCE 6000Y 24.3 MP Mirrorless Digital SLR Camera
                </td>
                <td>5</td>
                <td>{{ currency }}135.99</td>
                <td>{{ currency }}679.95</td>
              </tr>
              <tr>
                <td>Sony Over-Ear Wireless Headphone with Mic</td>
                <td>1</td>
                <td>{{ currency }}99.49</td>
                <td>{{ currency }}99.49</td>
              </tr>
              <tr>
                <td>
                  Adam ROMA USB-C / USB-A 3.1 (2-in-1 Flash Drive) – 128GB
                </td>
                <td>2</td>
                <td>{{ currency }}350.19</td>
                <td>700.38</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-3">Products From Order #123456</h5>
        <div class="table-responsive text-nowrap table-centered">
          <table class="table mb-0">
            <thead>
              <tr>
                <th>Description</th>
                <th>Price</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Grand Total :</td>
                <td>{{ currency }}2201.59</td>
              </tr>
              <tr>
                <td>Shipping Charge :</td>
                <td>FREE</td>
              </tr>
              <tr>
                <td>Estimated tax :</td>
                <td>{{ currency }}15</td>
              </tr>
              <tr>
                <td class="fw-semibold">Total :</td>
                <td class="fw-semibold">{{ currency }}2266.59</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
