<div class="tab-pane" id="metaData">
  <form id="metaDataForm" method="post" action="#">
    <h5 class="mb-3 mt-0">Fill all information below</h5>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="metaTitle">Meta Title</label>
          <input
            type="text"
            class="form-control"
            id="metaTitle"
            placeholder="Enter Meta Title"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label" for="metaKeywords">Meta Keywords</label>
          <input
            type="text"
            class="form-control"
            id="metaKeywords"
            placeholder="Enter Meta Keywords"
          />
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="metaDescription" class="form-label">Meta Description</label>
      <textarea class="form-control" id="metaDescription" rows="3"></textarea>
    </div>
  </form>
</div>
