<div class="card">
  <div class="card-header d-flex align-items-center">
    <h5 class="card-title">Activities</h5>
    <div class="ms-auto">
      <a href="javascript:void(0);" class="text-primary"
        >Export
        <i class="bx bx-export ms-1"></i>
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="d-flex align-items-start">
      <p class="mb-0 mt-2 pe-3 me-2">12:15</p>
      <div class="position-relative ps-4">
        <span
          class="position-absolute start-0 top-0 border border-dashed h-100"
        ></span>
        <div class="mb-4">
          <span
            class="position-absolute start-0 avatar-sm translate-middle-x bg-danger d-inline-flex align-items-center justify-content-center rounded-circle text-light fs-14"
            >UI</span
          >
          <div class="d-flex gap-2">
            <div class="ms-2">
              <h5 class="mb-0 text-dark fw-semibold fs-15 lh-base">
                Completed UX design project for our client
              </h5>
              <span class="badge badge-soft-danger mt-1">Important</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-start">
      <p class="mb-0 mt-2 pe-3 me-2">11:00</p>
      <div class="position-relative ps-4">
        <span
          class="position-absolute start-0 top-0 border border-dashed h-100"
        ></span>
        <div class="mb-4">
          <span
            class="position-absolute start-0 translate-middle-x bg-success bg-gradient d-inline-flex align-items-center justify-content-center rounded-circle text-light fs-20"
            ><img
              src="assets/images/users/avatar-2.jpg"
              alt="avatar-5"
              class="avatar-sm rounded-circle"
          /></span>
          <div class="d-flex gap-2">
            <div class="ms-2">
              <h5 class="mb-2 text-dark fw-semibold fs-15 lh-base">
                Yes! We are celebrating our first admin release.
              </h5>
              <a href="javascript:void(0);">
                <span
                  class="badge bg-light bg-opacity-50 border text-dark fw-semibold"
                  ><i class="bx bx-images text-primary me-2"></i>IMG_201</span
                >
                <span
                  class="badge bg-light bg-opacity-50 border text-dark fw-semibold ms-1"
                  ><i class="bx bx-images text-primary me-2"></i>IMG_202</span
                >
                <span
                  class="badge bg-light bg-opacity-50 border text-dark fw-semibold ms-1"
                  ><i class="bx bx-images text-primary me-2"></i>IMG_203</span
                >
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-start">
      <p class="mb-0 mt-2 pe-3 me-2">10:30</p>
      <div class="position-relative ps-4">
        <span
          class="position-absolute start-0 top-0 border border-dashed h-100"
        ></span>
        <div class="mb-3">
          <span
            class="position-absolute start-0 avatar-sm translate-middle-x bg-success d-inline-flex align-items-center justify-content-center rounded-circle text-light fs-20"
            ><iconify-icon
              icon="iconamoon:check-circle-1-duotone"
            ></iconify-icon
          ></span>
          <div class="d-flex gap-2">
            <div class="ms-2">
              <h5 class="mb-2 text-dark fw-semibold fs-15 lh-base">
                We have archieved 25k sales in our themes
              </h5>
              <div class="d-flex gap-2">
                <ul class="d-flex text-warning list-unstyled gap-1">
                  <li>
                    <iconify-icon icon="iconamoon:star-fill"></iconify-icon>
                  </li>
                  <li>
                    <iconify-icon icon="iconamoon:star-fill"></iconify-icon>
                  </li>
                  <li>
                    <iconify-icon icon="iconamoon:star-fill"></iconify-icon>
                  </li>
                  <li>
                    <iconify-icon icon="iconamoon:star-fill"></iconify-icon>
                  </li>
                  <li>
                    <iconify-icon icon="iconamoon:star-fill"></iconify-icon>
                  </li>
                </ul>
                <h5 class="text-muted fs-14">4.5/5 Rating</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-start">
      <p class="mb-0 mt-2 pe-3 me-2">09:00</p>
      <div class="position-relative ps-4">
        <span
          class="position-absolute start-0 top-0 border border-dashed h-50"
        ></span>
        <div class="mb-2">
          <span
            class="position-absolute start-0 translate-middle-x bg-success bg-gradient d-inline-flex align-items-center justify-content-center rounded-circle text-light fs-20"
            ><img
              src="assets/images/users/avatar-7.jpg"
              alt="avatar-5"
              class="avatar-sm rounded-circle"
          /></span>
          <div class="d-flex gap-2">
            <div class="ms-2">
              <h5 class="mb-0 text-dark fw-semibold fs-15 lh-base">
                Join new team member Alex Smith
              </h5>
              <span
                class="badge bg-light bg-opacity-50 text-dark py-1 px-2 mt-1 me-1"
                >Designer</span
              >
              <span
                class="badge bg-light bg-opacity-50 text-dark py-1 px-2 mt-1 me-1"
                >Developer</span
              >
              <span
                class="badge bg-light bg-opacity-50 text-dark py-1 px-2 mt-1"
                >Ui/Ux</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
