<app-page-title title="Ecommerce" subtitle="Sellers List" />

<div class="card">
  <div class="card-body">
    <div
      class="d-flex flex-wrap justify-content-between align-items-center gap-2"
    >
      <div>
        <div class="d-flex flex-wrap align-items-center gap-2">
          <label for="inputPassword2" class="visually-hidden">Search</label>
          <div class="search-bar me-3">
            <span><i class="bx bx-search-alt"></i></span>
            <input
              type="search"
              class="form-control"
              id="search"
              [(ngModel)]="tableService.searchTerm"
              placeholder="Search ..."
            />
          </div>

          <label for="status-select" class="me-2">Sort By</label>
          <div class="me-sm-3">
            <select
              class="form-select my-1 my-md-0"
              [(ngModel)]="sort"
              id="status-select"
              (change)="onSort()"
            >
              <option selected="">All</option>
              <option value="name">Name</option>
              <option value="store_name">Store Name</option>
              <option value="rating">Rating</option>
              <option value="revenue">Revenue</option>
            </select>
          </div>
        </div>
      </div>
      <div>
        <div
          class="d-flex flex-wrap gap-2 justify-content-md-end align-items-center"
        >
          <ul
            ngbNav
            #nav="ngbNav"
            [activeId]="2"
            class="nav nav-pills bg-transparent gap-1 p-0"
          >
            <li [ngbNavItem]="1" class="nav-item">
              <a
                ngbNavLink
                class="nav-link"
                data-bs-toggle="tab"
                aria-expanded="false"
                placement="top"
                ngbTooltip="Grid"
              >
                <i class="bx bx-grid-alt"></i>
              </a>
              <ng-template ngbNavContent>
                <seller-grid />
              </ng-template>
            </li>
            <li [ngbNavItem]="2" class="nav-item">
              <a
                ngbNavLink
                class="nav-link"
                data-bs-toggle="tab"
                aria-expanded="false"
                placement="top"
                ngbTooltip="List"
              >
                <i class="bx bx-list-ul"></i>
              </a>
              <ng-template ngbNavContent>
                <seller-list />
              </ng-template>
            </li>
          </ul>
          <a href="javascript:void(0);" class="btn btn-danger">
            <i class="bx bx-plus me-1"></i>Add Seller
          </a>
        </div>
      </div>
      <!-- end col-->
    </div>
  </div>
</div>

<div [ngbNavOutlet]="nav" class="tab-content pt-0"></div>
