<div class="card">
  <div class="card-header">
    <h5 class="card-title">Skill</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        @for (item of skillData; track $index; let last = $last) {
          <p class="fs-15 mb-1 float-end">{{ item.progressValue }}%</p>
          <p class="fs-15 mb-1">
            {{ item.title }}
          </p>
          <ngb-progressbar
            [class]="last ? 'mb-2' : 'mb-3'"
            type="primary"
            [value]="item.progressValue"
            [height]="'5px'"
            [animated]="true"
            [striped]="true"
          />
        }
      </div>
    </div>
  </div>
</div>
