<div class="card">
  <div
    class="d-flex card-header justify-content-between align-items-center border-bottom border-dashed"
  >
    <h4 class="card-title">Sessions by Country</h4>
    <div ngbDropdown class="dropdown">
      <a
        ngbDropdownToggle
        class="dropdown-toggle btn btn-sm btn-outline-light"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        View Data
      </a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item">Download</a>
        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item">Export</a>
        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item">Import</a>
      </div>
    </div>
  </div>

  <div class="card-body pt-0">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <app-world-vector-map
          class="my-3"
          mapId="world-map-markers"
          type="world"
          [options]="worldMapConfig"
          height="300px"
        ></app-world-vector-map>
      </div>
      <div class="col-lg-5" dir="ltr">
        <div class="p-3">
          @for (item of countryList; track $index) {
            <div class="d-flex justify-content-between align-items-center">
              <p class="mb-1">
                <iconify-icon
                  [icon]="item.icon"
                  class="fs-16 align-middle me-1"
                ></iconify-icon>
                <span class="align-middle ms-1">{{ item.name }}</span>
              </p>
            </div>
            <div class="row align-items-center mb-3">
              <div class="col">
                <ngb-progressbar
                  [type]="item.progressType"
                  [value]="item.progressValue"
                  style="height: 5px"
                />
              </div>
              <div class="col-auto">
                <p class="mb-0 fs-13 fw-semibold">{{ item.progressAmount }}k</p>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
  <!-- end card-body-->
</div>
