<div
  class="tab-pane fade active show"
  id="social-feed"
  role="tabpanel"
  aria-labelledby="social-feed-tab"
>
  <div class="card">
    <div class="card-body">
      <div ngbDropdown class="dropdown float-end">
        <a
          ngbDropdownToggle
          href="javascript:void(0);"
          class="dropdown-toggle arrow-none text-dark"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bx bx-slider-alt fs-18"></i>
        </a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
          <a
            href="javascript:void(0);"
            class="dropdown-header text-center fs-14"
            >Post Filters</a
          >
          <div class="dropdown-divider mt-0"></div>
          <a
            href="javascript:void(0);"
            class="dropdown-item d-flex align-items-center"
          >
            <div class="flex-shrink-0">
              <i class="bx bx-bookmark fs-18 align-middle me-2"></i>
            </div>
            <div class="flex-grow-1">
              <p class="mb-0">Save Link</p>
              <small class="text-muted">Add this to your saved item</small>
            </div>
          </a>
          <a
            href="javascript:void(0);"
            class="dropdown-item d-flex align-items-center"
          >
            <div class="flex-shrink-0">
              <i class="bx bx-bell-off fs-18 align-middle me-2"></i>
            </div>
            <div class="flex-grow-1">
              <p class="mb-0">Notification</p>
              <small class="text-muted"
                >Turn off notification for this post</small
              >
            </div>
          </a>
        </div>
      </div>

      <h5 class="card-title mb-3">Create Post</h5>

      <div class="d-md-flex mb-2">
        <div ngbDropdown class="dropdown me-1">
          <a
            ngbDropdownToggle
            class="btn btn-outline-light text-dark dropdown-toggle"
            href="javascript:void(0);"
            role="button"
            id="postDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Who can see your post ?
          </a>
          <ul
            ngbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="postDropdown"
          >
            <li>
              <a class="dropdown-item" href="javascript:void(0);"
                ><i class="bx bx-globe-alt me-1"></i>Public</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);"
                ><i class="bx bx-user me-1"></i>Friends</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);"
                ><i class="bx bx-user-check me-1"></i>Friends Except..</a
              >
            </li>
          </ul>
        </div>
        <div ngbDropdown class="dropdown mt-1 mt-md-0">
          <a
            ngbDropdownToggle
            class="btn btn-outline-light text-dark dropdown-toggle"
            href="javascript:void(0);"
            role="button"
            id="albumDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bx bx-plus me-1"></i>
            Album
          </a>

          <ul
            ngbDropdownMenu
            class="dropdown-menu"
            aria-labelledby="albumDropdown"
          >
            <li>
              <a class="dropdown-item" href="javascript:void(0);"
                ><i class="bx bx-images me-1"></i>Untitled Album</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);"
                ><i class="bx bx-images me-1"></i>My Dream</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);"
                ><i class="bx bx-images me-1"></i>Tours Story</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="mb-3">
        <textarea
          class="form-control"
          id="description"
          rows="3"
          placeholder="What's on your mind?"
        ></textarea>
      </div>
      <div class="d-flex gap-1">
        <a
          href="javascript:void(0);"
          class="btn btn-outline-light text-dark btn-sm fs-16"
          placement="top"
          ngbTooltip="Photo / Video"
        >
          <i class="bx bx-images"></i>
        </a>
        <a
          href="javascript:void(0);"
          class="btn btn-outline-light text-dark btn-sm fs-16"
          placement="top"
          ngbTooltip="Tag People"
        >
          <i class="bx bxs-user-plus"></i>
        </a>
        <a
          href="javascript:void(0);"
          class="btn btn-outline-light text-dark btn-sm fs-16"
          placement="top"
          ngbTooltip="Feeling / Activity"
        >
          <i class="bx bxs-smile"></i>
        </a>
        <a
          href="javascript:void(0);"
          class="btn btn-outline-light text-dark btn-sm fs-16"
          placement="top"
          ngbTooltip="Check In"
        >
          <i class="bx bxs-location-plus"></i>
        </a>
        <a
          href="javascript:void(0);"
          class="btn btn-outline-light text-dark btn-sm fs-16"
          placement="top"
          ngbTooltip="Camera"
        >
          <i class="bx bxs-camera"></i>
        </a>
        <button type="button" class="btn btn-primary ms-auto">Publish</button>
      </div>
    </div>
  </div>

  <!-- Story Box-->
  @for (feed of feedList; track $index) {
    <div class="card">
      <div class="card-body">
        <div class="d-flex gap-2 align-items-center mb-2">
          <div class="border border-2 border-primary rounded-circle">
            <img
              class="rounded-circle border border-2 border-transparent"
              [src]="feed.avatar"
              height="48"
              alt="Generic placeholder image"
            />
          </div>
          <div class="flex-grow-1">
            <h5 class="m-0">
              <a routerLink="/pages/profile" class="text-reset">{{
                feed.author
              }}</a>
            </h5>
            <p class="text-muted mb-0">
              <small>{{ feed.timestamp }}</small>
            </p>
          </div>

          <div ngbDropdown class="dropdown text-muted">
            <a
              ngbDropdownToggle
              class="dropdown-toggle arrow-none text-muted fs-22"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bx bx-dots-vertical-rounded"></i>
            </a>
            <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="bx bx-bookmark align-middle pe-1"></i>Save post</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="bx bx-user-x align-middle pe-1"></i>Unfollow
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="bx bx-x-circle align-middle pe-1"></i>Hide post</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="bx bx-block align-middle pe-1"></i>Block</a
                >
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);">
                  <i class="bx bx-flag align-middle fa-fw pe-1"></i>Report
                  post</a
                >
              </li>
            </ul>
          </div>
        </div>
        <p>
          {{ feed.content }}
        </p>

        @if (feed.images) {
          <div class="row">
            <div class="col-md-6">
              <img
                [src]="feed.images[0]"
                class="img-fluid rounded"
                alt="post-1"
              />
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col">
                  <div class="mb-3 mt-3 mt-md-0">
                    <img
                      [src]="feed.images[1]"
                      class="img-fluid rounded"
                      alt="post-2"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <img
                    [src]="feed.images[2]"
                    class="img-fluid rounded"
                    alt="post-4"
                  />
                </div>

                <div class="col-md-6 mt-3 mt-md-0">
                  <div class="position-relative overflow-hidden rounded">
                    <a href="javascript:void(0);">
                      <img
                        [src]="feed.images[3]"
                        class="img-fluid rounded"
                        alt="post-3"
                      />
                      <div class="bg-overlay bg-dark"></div>
                      <h3
                        class="position-absolute top-50 start-50 translate-middle my-0 text-white"
                      >
                        +7
                      </h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }

        @if (feed.video) {
          <div class="row">
            <div class="col">
              <div class="ratio ratio-16x9 rounded overflow-hidden">
                <iframe
                  [src]="sanitizeUrl(feed.video!)"
                  class="img-fluid border-0"
                ></iframe>
              </div>
            </div>
          </div>
        }

        <div class="d-flex align-items-center my-2">
          @if (feed.likes) {
            <a href="javascript: void(0);" class="btn btn-link text-muted"
              ><i class="bx bxs-heart align-middle text-danger"></i>
              {{ feed.likes }} Likes</a
            >
          }
          @if (feed.views) {
            <a href="javascript: void(0);" class="btn btn-link text-muted"
              ><i class="bx bx-tv align-middle"></i> {{ feed.views }} Views</a
            >
          }
          @if (feed.comments) {
            <a href="javascript: void(0);" class="btn btn-link text-muted"
              ><i class="bx bx-comment align-middle"></i>
              {{ feed.comments }} Comments</a
            >
          }
          <a href="javascript: void(0);" class="btn btn-link text-muted"
            ><i class="bx bx-share-alt align-middle"></i> Share</a
          >
          <a href="javascript: void(0);" class="btn btn-link text-muted ms-auto"
            ><i class="bx bx-bookmark align-middle"></i> Save</a
          >
        </div>

        @if (feed.commentList) {
          <div class="post-user-comment-box mt-2">
            @for (comment of feed.commentList; track $index) {
              <div class="d-flex align-items-start">
                <img
                  class="me-2 avatar-sm rounded-circle"
                  [src]="comment.avatar"
                  alt="Generic placeholder image"
                />
                <div class="w-100">
                  <div class="w-100 bg-light p-2 rounded">
                    <h5 class="mt-0">
                      <a routerLink="/pages/profile" class="text-reset">{{
                        comment.author
                      }}</a>
                      <small class="text-muted">{{ comment.timestamp }}</small>
                    </h5>
                    {{ comment.comment }}
                  </div>

                  <div class="d-flex gap-2">
                    <a
                      href="javascript: void(0);"
                      class="text-muted fs-13 d-inline-block mt-2"
                      ><i class="bx bxs-heart align-middle"></i> Like({{
                        comment.like
                      }})</a
                    >
                    <a
                      href="javascript: void(0);"
                      class="text-muted fs-13 d-inline-block mt-2"
                      ><i class="bx bx-share align-middle"></i> Reply</a
                    >
                  </div>
                  @if (comment.children) {
                    @for (childcomment of comment.children; track $index) {
                      <div class="d-flex align-items-start mt-3">
                        <a class="pe-2" href="javascript:void(0);">
                          <img
                            [src]="childcomment.avatar"
                            class="avatar-sm rounded-circle"
                            alt="Generic placeholder image"
                          />
                        </a>
                        <div class="w-100 bg-light p-2 rounded">
                          <h5 class="mt-0">
                            <a routerLink="/pages/profile" class="text-reset">{{
                              childcomment.author
                            }}</a>
                            <small class="text-muted">{{
                              childcomment.timestamp
                            }}</small>
                          </h5>
                          {{ childcomment.comment }}
                        </div>
                      </div>
                    }
                  }
                </div>
              </div>
            }
          </div>
        }

        @if (feed.isReply) {
          <div class="d-flex align-items-start">
            <img
              src="assets/images/users/avatar-1.jpg"
              height="32"
              class="align-self-start rounded me-2"
              alt="Arya Stark"
            />
            <div class="w-100">
              <input
                type="text"
                class="form-control bg-light border-0 form-control-sm"
                placeholder="Write a comment"
              />
            </div>
          </div>
        }
      </div>
    </div>
  }

  <a
    href="javascript:void(0);"
    class="text-primary d-flex justify-content-center mx-auto mb-3"
  >
    <i class="bx bx-loader-circle spin-icon fs-22 align-middle me-1"></i>
    Loading
  </a>
</div>
