<div class="card">
  <div class="card-body">
    <h5 class="card-title mb-3">Filter Products</h5>
    <div class="search-bar mb-3">
      <span><i class="bx bx-search-alt"></i></span>
      <input
        type="email"
        class="form-control"
        id="search"
        placeholder="Search by name ......."
      />
    </div>
    <div class="mb-3">
      <label for="productId" class="form-label">Product Id</label>
      <input
        type="email"
        class="form-control"
        id="productId"
        placeholder="Filter by Product Id"
      />
    </div>
    <div class="mb-3">
      <label for="condition" class="form-label">Condition</label>
      <select class="form-select" id="condition">
        <option selected>All Conditions</option>
        <option value="1">New</option>
        <option value="2">Return</option>
        <option value="3">Damaged</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select class="form-select" id="category">
        <option selected>All Categories</option>
        <option value="1">Electronics & Accesories</option>
        <option value="2">Home & Kitchen</option>
        <option value="3">Cloth</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <select class="form-select" id="location">
        <option selected>All Locations</option>
        <option value="1">WareHouse 1</option>
        <option value="2">WareHouse 2</option>
        <option value="3">WareHouse 3</option>
        <option value="3">WareHouse 4</option>
      </select>
    </div>
    <div class="row">
      <div class="col-6">
        <a href="javascript:void(0);" class="btn btn-outline-primary w-100"
          >Clear</a
        >
      </div>
      <div class="col-6">
        <a href="javascript:void(0);" class="btn btn-primary w-100"
          >Apply Filters</a
        >
      </div>
    </div>
  </div>
</div>
