<div
  class="tab-pane fade active show"
  id="social-memories"
  role="tabpanel"
  aria-labelledby="social-memories-tab"
>
  <!-- Story Box-->
  <div class="card">
    <div class="card-body">
      <div class="d-flex gap-2 align-items-center mb-2">
        <div class="border border-2 border-primary rounded-circle">
          <img
            class="rounded-circle border border-2 border-transparent"
            src="assets/images/users/avatar-3.jpg"
            height="48"
            alt="Generic placeholder image"
          />
        </div>
        <div class="flex-grow-1">
          <h5 class="m-0">
            <a routerLink="/pages/profile" class="text-reset"
              >Jeremy Tomlinson</a
            >
          </h5>
          <p class="text-muted mb-0">
            <small>about 2 minuts ago</small>
          </p>
        </div>

        <div ngbDropdown class="dropdown text-muted">
          <a
            ngbDropdownToggle
            href="javascript:void(0);"
            class="dropdown-toggle arrow-none text-muted fs-22"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bx bx-dots-vertical-rounded"></i>
          </a>
          <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bx bx-bookmark align-middle pe-1"></i>Save post</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bx bx-user-x align-middle pe-1"></i>Unfollow
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bx bx-x-circle align-middle pe-1"></i>Hide post</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bx bx-block align-middle pe-1"></i>Block</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bx bx-flag align-middle fa-fw pe-1"></i>Report post</a
              >
            </li>
          </ul>
        </div>
      </div>
      <p>Story based around the idea of time lapse, animation to post soon!</p>

      <div class="bg-soft-primary p-1 rounded text-center mb-3">
        <h5 class="text-primary ms-2">2 years ago</h5>
        <a href="javascript:void(0);" class="ms-2 text-primary"
          >See all your memories<i class="bi bi-chevron-right ms-1"></i
        ></a>
      </div>

      <div class="row">
        <div class="col-md-6">
          <img
            src="assets/images/app-social/post-1.jpg"
            class="img-fluid rounded"
            alt="post-1"
          />
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col">
              <div class="mb-3 mt-3 mt-md-0">
                <img
                  src="assets/images/app-social/post-2.jpg"
                  class="img-fluid rounded"
                  alt="post-2"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <img
                src="assets/images/app-social/post-4.jpg"
                class="img-fluid rounded"
                alt="post-4"
              />
            </div>

            <div class="col-md-6 mt-3 mt-md-0">
              <div class="position-relative overflow-hidden rounded">
                <a href="javascript:void(0);">
                  <img
                    src="assets/images/app-social/post-3.jpg"
                    class="img-fluid rounded"
                    alt="post-3"
                  />
                  <div class="bg-overlay bg-dark"></div>
                  <h3
                    class="position-absolute top-50 start-50 translate-middle my-0 text-white"
                  >
                    +7
                  </h3>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center my-2">
        <a href="javascript: void(0);" class="btn btn-link text-muted"
          ><i class="bx bxs-heart align-middle text-danger"></i> 1.5k Likes</a
        >
        <a href="javascript: void(0);" class="btn btn-link text-muted"
          ><i class="bx bx-comment align-middle"></i> 521 Comments</a
        >
        <a href="javascript: void(0);" class="btn btn-link text-muted"
          ><i class="bx bx-share-alt align-middle"></i> Share</a
        >
        <a href="javascript: void(0);" class="btn btn-link text-muted ms-auto"
          ><i class="bx bx-bookmark align-middle"></i> Save</a
        >
      </div>

      <div class="d-flex align-items-start">
        <img
          src="assets/images/users/avatar-1.jpg"
          height="32"
          class="align-self-start rounded me-2"
          alt="Arya Stark"
        />
        <div class="w-100">
          <input
            type="text"
            class="form-control bg-light border-0 form-control-sm"
            placeholder="Write a comment"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Story Box-->
  <div class="card">
    <div class="card-body">
      <div class="d-flex gap-2 align-items-center mb-2">
        <div class="border border-2 border-primary rounded-circle">
          <img
            class="rounded-circle border border-2 border-transparent"
            src="assets/images/users/avatar-3.jpg"
            height="48"
            alt="Generic placeholder image"
          />
        </div>
        <div class="flex-grow-1">
          <h5 class="my-0">
            <b class="text-primary">Martin R. Peters</b>
          </h5>
          <small class="mb-0">Post: 07 Feb, 2021 06:00AM</small>
        </div>

        <div ngbDropdown class="dropdown text-muted">
          <a
            ngbDropdownToggle
            href="javascript:void(0);"
            class="dropdown-toggle arrow-none text-muted fs-22"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bx bx-dots-vertical-rounded"></i>
          </a>
          <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bx bx-bookmark align-middle pe-1"></i>Save post</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bx bx-user-x align-middle pe-1"></i>Unfollow
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bx bx-x-circle align-middle pe-1"></i>Hide post</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bx bx-block align-middle pe-1"></i>Block</a
              >
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);">
                <i class="bx bx-flag align-middle fa-fw pe-1"></i>Report post</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="bg-soft-primary p-1 rounded text-center mb-3">
        <h5 class="text-primary ms-2">2 years ago</h5>
        <a href="javascript:void(0);" class="ms-2 text-primary"
          >See all your memories<i class="bi bi-chevron-right ms-1"></i
        ></a>
      </div>

      <div class="row">
        <div class="col">
          <p class="text-justify">
            The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax
            quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick
            quartz, vex nymphs.
          </p>
          <div class="row g-0 align-items-center">
            <div class="col-md-5">
              <img
                src="assets/images/app-social/post-3.jpg"
                class="card-img"
                alt="..."
              />
            </div>

            <div class="col-md-7">
              <div class="card-body">
                <h5 class="card-title fs-16">DJs flock</h5>
                <p class="card-text text-muted">
                  One morning, when Gregor Samsa woke from troubled dreams, he
                  found himself transformed in his bed into a horrible vermin.
                  He lay on his armour-like back, and if he lifted his head.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center my-2">
        <a href="javascript: void(0);" class="btn btn-link text-muted"
          ><i class="bx bxs-heart align-middle text-danger"></i> 2.6k Likes</a
        >
        <a href="javascript: void(0);" class="btn btn-link text-muted"
          ><i class="bx bx-comment align-middle"></i> 412 Comments</a
        >
        <a href="javascript: void(0);" class="btn btn-link text-muted"
          ><i class="bx bx-share-alt align-middle"></i> Share</a
        >
        <a href="javascript: void(0);" class="btn btn-link text-muted ms-auto"
          ><i class="bx bx-bookmark align-middle"></i> Save</a
        >
      </div>

      <div class="d-flex align-items-start">
        <img
          src="assets/images/users/avatar-1.jpg"
          height="32"
          class="align-self-start rounded me-2"
          alt="Arya Stark"
        />
        <div class="w-100">
          <input
            type="text"
            class="form-control bg-light border-0 form-control-sm"
            placeholder="Write a comment"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="d-flex gap-2 align-items-center mb-2">
        <div class="border border-2 border-primary rounded-circle">
          <img
            class="rounded-circle border border-2 border-transparent"
            src="assets/images/users/avatar-3.jpg"
            height="48"
            alt="Generic placeholder image"
          />
        </div>
        <div class="flex-grow-1">
          <p class="mb-0">
            UI / UX Design Tutorial – Wireframe, Mockup & Design in Figma
          </p>
          <small class="text-muted">1 days ago</small>
        </div>

        <div ngbDropdown class="dropdown text-muted">
          <a
            ngbDropdownToggle
            href="javascript:void(0);"
            class="dropdown-toggle arrow-none text-muted fs-18"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bx bx-dots-vertical-rounded"></i>
          </a>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-bell me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Turn on notification</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-bookmark me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Save Video</p>
                <small class="text-muted">Add this to your save items.</small>
              </div>
            </a>
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-link me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Copy Link</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-x-circle me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Hide this video</p>
                <small class="text-muted">You won't see this video.</small>
              </div>
            </a>
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-x-circle me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Report this video</p>
                <small class="text-muted"
                  >Tell us about a problem with this video.</small
                >
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="ratio ratio-21x9 rounded overflow-hidden">
            <iframe
              src="https://www.youtube.com/embed/c9Wg6Cb_YlU"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center mt-2">
        <a href="javascript: void(0);" class="btn btn-link text-muted"
          ><i class="bx bx-tv align-middle"></i> 9.5k Views</a
        >
        <a href="javascript: void(0);" class="btn btn-link text-muted"
          ><i class="bx bx-comment align-middle"></i> 4.02k Comments</a
        >
        <a href="javascript: void(0);" class="btn btn-link text-muted"
          ><i class="bx bx-share-alt align-middle"></i> Share</a
        >
        <a href="javascript: void(0);" class="btn btn-link text-muted ms-auto"
          ><i class="bx bx-bookmark align-middle"></i> Save</a
        >
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="d-flex gap-2 align-items-center mb-2">
        <div class="border border-2 border-primary rounded-circle">
          <img
            class="rounded-circle border border-2 border-transparent"
            src="assets/images/users/avatar-4.jpg"
            height="48"
            alt="Generic placeholder image"
          />
        </div>
        <div class="flex-grow-1">
          <p class="mb-0">Tour the Harvard Law School Library</p>
          <small class="text-muted">1 days ago</small>
        </div>

        <div ngbDropdown class="dropdown text-muted">
          <a
            ngbDropdownToggle
            href="javascript:void(0);"
            class="dropdown-toggle arrow-none text-muted fs-18"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bx bx-dots-vertical-rounded"></i>
          </a>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-bell me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Turn on notification</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-bookmark me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Save Video</p>
                <small class="text-muted">Add this to your save items.</small>
              </div>
            </a>
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-link me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Copy Link</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-x-circle me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Hide this video</p>
                <small class="text-muted">You won't see this video.</small>
              </div>
            </a>
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-x-circle me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Report this video</p>
                <small class="text-muted"
                  >Tell us about a problem with this video.</small
                >
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="ratio ratio-21x9 rounded overflow-hidden">
            <iframe
              src="https://www.youtube.com/embed/CXkjHLBr_y0"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center mt-2">
        <a href="javascript: void(0);" class="btn btn-link text-muted"
          ><i class="bx bx-tv align-middle"></i> 91.2k Views</a
        >
        <a href="javascript: void(0);" class="btn btn-link text-muted"
          ><i class="bx bx-comment align-middle"></i> 8.6k Comments</a
        >
        <a href="javascript: void(0);" class="btn btn-link text-muted"
          ><i class="bx bx-share-alt align-middle"></i> Share</a
        >
        <a href="javascript: void(0);" class="btn btn-link text-muted ms-auto"
          ><i class="bx bx-bookmark align-middle"></i> Save</a
        >
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="d-flex gap-2 align-items-center mb-2">
        <div class="border border-2 border-primary rounded-circle">
          <img
            class="rounded-circle border border-2 border-transparent"
            src="assets/images/users/avatar-5.jpg"
            height="48"
            alt="Generic placeholder image"
          />
        </div>
        <div class="flex-grow-1">
          <p class="mb-0">How to Chair a Meeting Well - Part 1</p>
          <small class="text-muted">3 days ago</small>
        </div>

        <div ngbDropdown class="dropdown text-muted">
          <a
            ngbDropdownToggle
            href="javascript:void(0);"
            class="dropdown-toggle arrow-none text-muted fs-18"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bx bx-dots-vertical-rounded"></i>
          </a>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-bell me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Turn on notification</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-bookmark me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Save Video</p>
                <small class="text-muted">Add this to your save items.</small>
              </div>
            </a>
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-link me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Copy Link</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-x-circle me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Hide this video</p>
                <small class="text-muted">You won't see this video.</small>
              </div>
            </a>
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-x-circle me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Report this video</p>
                <small class="text-muted"
                  >Tell us about a problem with this video.</small
                >
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="ratio ratio-21x9 rounded overflow-hidden">
            <iframe
              src="https://www.youtube.com/embed/IJ_LDIlYnjw"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center mt-2">
        <a href="javascript: void(0);" class="btn btn-link text-muted"
          ><i class="bx bx-tv align-middle"></i> 854 Views</a
        >
        <a href="javascript: void(0);" class="btn btn-link text-muted"
          ><i class="bx bx-comment align-middle"></i> 102 Comments</a
        >
        <a href="javascript: void(0);" class="btn btn-link text-muted"
          ><i class="bx bx-share-alt align-middle"></i> Share</a
        >
        <a href="javascript: void(0);" class="btn btn-link text-muted ms-auto"
          ><i class="bx bx-bookmark align-middle"></i> Save</a
        >
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="d-flex gap-2 align-items-center mb-2">
        <div class="border border-2 border-primary rounded-circle">
          <img
            class="rounded-circle border border-2 border-transparent"
            src="assets/images/users/avatar-5.jpg"
            height="48"
            alt="Generic placeholder image"
          />
        </div>
        <div class="flex-grow-1">
          <p class="mb-0">Travelling through North East India</p>
          <small class="text-muted">3 days ago</small>
        </div>

        <div ngbDropdown class="dropdown text-muted">
          <a
            ngbDropdownToggle
            href="javascript:void(0);"
            class="dropdown-toggle arrow-none text-muted fs-18"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bx bx-dots-vertical-rounded"></i>
          </a>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-bell me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Turn on notification</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-bookmark me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Save Video</p>
                <small class="text-muted">Add this to your save items.</small>
              </div>
            </a>
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-link me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Copy Link</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-x-circle me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Hide this video</p>
                <small class="text-muted">You won't see this video.</small>
              </div>
            </a>
            <a href="javascript:void(0);" class="dropdown-item d-flex">
              <div class="flex-shrink-0">
                <i class="bx bx-x-circle me-2"></i>
              </div>
              <div class="flex-grow-1">
                <p class="mb-0">Report this video</p>
                <small class="text-muted"
                  >Tell us about a problem with this video.</small
                >
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="ratio ratio-21x9 rounded overflow-hidden">
            <iframe
              src="https://www.youtube.com/embed/ehmsJLZlCZ0"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center mt-2">
        <a href="javascript: void(0);" class="btn btn-link text-muted"
          ><i class="bx bx-tv align-middle"></i> 3.8k Views</a
        >
        <a href="javascript: void(0);" class="btn btn-link text-muted"
          ><i class="bx bx-comment align-middle"></i> 663 Comments</a
        >
        <a href="javascript: void(0);" class="btn btn-link text-muted"
          ><i class="bx bx-share-alt align-middle"></i> Share</a
        >
        <a href="javascript: void(0);" class="btn btn-link text-muted ms-auto"
          ><i class="bx bx-bookmark align-middle"></i> Save</a
        >
      </div>
    </div>
  </div>
</div>
