<div class="row justify-content-center">
  <div class="col-xl-5">
    <div class="card auth-card">
      <div class="card-body px-3 py-5">
        <div class="p-4">
          <div class="mx-auto mb-4 text-center">
            <app-logo-box
              className="mx-auto mb-4 text-center auth-logo"
              height="24"
              logoHeight="30"
            />

            <h1 class="mt-5 mb-3 fw-bold fs-60">404</h1>
            <h2 class="fs-22 lh-base">Page Not Found !</h2>
            <p class="text-muted mt-1 mb-4">
              The page you're trying to reach seems to have gone <br />
              missing in the digital wilderness.
            </p>

            <div class="text-center">
              <a routerLink="/" class="btn btn-success">Back to Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
