<app-page-title [title]="'Base UI'" [subtitle]="'Toasts'" />

<div class="row">
  <div class="col-xl-9">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="basic_examples">
          Basic Examples<a class="anchor-link" href="#basic_examples">#</a>
        </h5>
        <p class="text-muted">
          Toasts are as flexible as you need and have very little required
          markup. At a minimum, we require a single element to contain your
          “toasted” content and strongly encourage a dismiss button.
        </p>

        <div class="mb-3">
          <ngb-toast
            [autohide]="false"
            class="toast fade show"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
            data-bs-toggle="toast"
          >
            <ng-template ngbToastHeader class="toast-header d-block">
              <div class="auth-logo">
                <img
                  class="logo-dark"
                  src="assets/images/logo-dark.png"
                  alt="logo-dark"
                  height="18"
                />
                <img
                  class="logo-light"
                  src="assets/images/logo-light.png"
                  alt="logo-light"
                  height="18"
                />
              </div>
              <div class="ms-auto">
                <small>11 mins ago</small>
              </div>
            </ng-template>
            Hello, world! This is a toast message.
          </ngb-toast>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="live_example">
          Live example<a class="anchor-link" href="#live_example">#</a>
        </h5>
        <p class="text-muted">
          Click the button below to show a toast (positioned with our utilities
          in the lower right corner) that has been hidden by default.
        </p>

        <div class="mb-3">
          <button
            type="button"
            class="btn btn-primary"
            (click)="liveToast = true"
            id="liveToastDefaultBtn"
          >
            Show live toast
          </button>

          <div class="toast-container position-fixed bottom-0 end-0 p-3">
            @if (liveToast) {
              <ngb-toast
                class="toast fade show"
                id="liveToastDefault"
                class="toast"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
              >
                <ng-template ngbToastHeader class="toast-header">
                  <div class="auth-logo me-auto">
                    <img
                      class="logo-dark"
                      src="assets/images/logo-dark.png"
                      alt="logo-dark"
                      height="18"
                    />
                    <img
                      class="logo-light"
                      src="assets/images/logo-light.png"
                      alt="logo-light"
                      height="18"
                    />
                  </div>
                  <small>11 mins ago</small>
                </ng-template>
                Hello, world! This is a toast message.
              </ngb-toast>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="default_buttons">
          Default Buttons<a class="anchor-link" href="#default_buttons">#</a>
        </h5>
        <p class="text-muted">
          Toasts are as flexible as you need and have very little required
          markup. At a minimum, we require a single element to contain your
          “toasted” content and strongly encourage a dismiss button.
        </p>

        <div class="mb-3">
          <button
            type="button"
            class="btn btn-primary me-1"
            id="liveToastBtn"
            (click)="showStandard()"
          >
            Show live toast
          </button>
          <button
            type="button"
            class="btn btn-primary"
            id="liveToastBtn2"
            (click)="showSuccess()"
          >
            Show live toast
          </button>
        </div>
        <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-1 anchor" id="custom_content">
          Custom Content<a class="anchor-link" href="#custom_content">#</a>
        </h5>
        <p class="text-muted">
          Alternatively, you can also add additional controls and components to
          toasts.
        </p>

        <div class="mb-3">
          <div class="row">
            <div class="col-md-6">
              @if (show) {
                <ngb-toast
                  [autohide]="false"
                  class="toast fade show align-items-center mb-4"
                  role="alert"
                  aria-live="assertive"
                  aria-atomic="true"
                >
                  <div class="d-flex">
                    Hello, world! This is a toast message.
                    <button
                      type="button"
                      class="btn-close me-2 m-auto"
                      data-bs-dismiss="toast"
                      aria-label="Close"
                      (click)="close()"
                    ></button>
                  </div>
                </ngb-toast>
              }
            </div>
            <div class="col-md-6">
              @if (show1) {
                <ngb-toast
                  [autohide]="false"
                  class="toast show align-items-center text-white bg-primary border-0 mb-4"
                  role="alert"
                  aria-live="assertive"
                  aria-atomic="true"
                >
                  <div class="d-flex">
                    Hello, world! This is a toast message.
                    <button
                      type="button"
                      class="btn-close btn-close-white me-2 m-auto"
                      data-bs-dismiss="toast"
                      aria-label="Close"
                      (click)="show1 = false"
                    ></button>
                  </div>
                </ngb-toast>
              }
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              @if (show2) {
                <ngb-toast
                  [autohide]="false"
                  class="toast fade show mb-3 mb-md-0"
                  role="alert"
                  aria-live="assertive"
                  aria-atomic="true"
                >
                  Hello, world! This is a toast message.
                  <div class="mt-2 pt-2 border-top">
                    <button type="button" class="btn btn-primary btn-sm">
                      Take action
                    </button>
                    <button
                      type="button"
                      class="btn btn-secondary btn-sm ms-1"
                      data-bs-dismiss="toast"
                      (click)="show2 = false"
                    >
                      Close
                    </button>
                  </div>
                </ngb-toast>
              }
            </div>
            <div class="col-md-6">
              @if (show3) {
                <ngb-toast
                  [autohide]="false"
                  class="toast fade show bg-primary"
                  role="alert"
                  aria-live="assertive"
                  aria-atomic="true"
                >
                  <div class="text-white">
                    Hello, world! This is a toast message.
                    <div class="mt-2 pt-2 border-top">
                      <button type="button" class="btn btn-light btn-sm me-1">
                        Take action
                      </button>
                      <button
                        (click)="show3 = false"
                        type="button"
                        class="btn btn-secondary btn-sm"
                        data-bs-dismiss="toast"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </ngb-toast>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3">
    <ui-examples-list
      [linkList]="[
        { label: 'Basic Examples', link: '#basic_examples' },
        { label: 'Live example', link: '#live_example' },
        { label: 'Default Buttons', link: '#default_buttons' },
        { label: 'Custom Content', link: '#custom_content' },
      ]"
    />
  </div>
</div>
