<div class="card">
  <div class="card-header d-flex">
    <h5 class="card-title">Followers</h5>
    <div class="ms-auto">
      <a href="javascript:void(0);" class="text-primary">View All </a>
    </div>
  </div>
  <div class="card-body">
    <ul class="list-group">
      @for (
        data of followerList;
        track $index;
        let first = $first;
        let last = $last
      ) {
        <li
          class="list-group-item border-0 px-0"
          [ngClass]="{ 'pt-0': first, 'border-bottom': !last, 'pb-0': last }"
        >
          <div class="d-flex flex-wrap align-items-center gap-2">
            <img [src]="data.profile" alt="" class="rounded-circle avatar-sm" />
            <div class="d-block">
              <h5 class="mb-1">
                {{ data.name }}
              </h5>
              <h6 class="mb-0 text-muted">
                {{ data.email }}
              </h6>
            </div>
            <div class="ms-auto">
              <a
                href="javascript:void(0);"
                class="btn btn-soft-secondary btn-sm"
                >Follow</a
              >
            </div>
          </div>
        </li>
      }
    </ul>
  </div>
</div>
