<app-page-title title="Dashboards" subtitle="Analytics" />
<div class="row">
  <div class="col-xxl-3">
    <analytics-state />
  </div>

  <div class="col-xxl-9">
    <div class="card">
      <div class="card-body p-0">
        <div class="row g-0">
          <div class="col-lg-4">
            <analytics-conversation />
          </div>

          <div class="col-lg-8 border-start">
            <analytics-performance />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <analytics-sessionbycounty />
    <!-- end card-->
  </div>
  <!-- end col-->
</div>
<!-- end row-->

<div class="row">
  <div class="col-lg-4">
    <analytics-browser />
  </div>
  <div class="col-lg-8">
    <analytics-top-page />
  </div>
</div>
<!-- row-->
