<app-page-title title="Pages" subtitle="Profile" />

<div class="row">
  <div class="col-xxl-4">
    <div class="row">
      <div class="col-12">
        <profile-info />

        <profile-skill />
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <profile-activities />
      </div>
    </div>
  </div>

  <div class="col-xxl-8">
    <div class="row">
      <div class="col-lg-6">
        <profile-personal-info />
      </div>
      <div class="col-lg-6">
        <profile-followers />
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <profile-projects />
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <profile-messages />
      </div>
    </div>
  </div>
</div>
