<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-4">
        <div [ngbNavOutlet]="nav" class="tab-content"></div>
        <ul ngbNav #nav="ngbNav" class="nav nav-pills nav-justified">
          <li ngbNavItem class="nav-item">
            <a
              ngbNavLink
              data-bs-toggle="tab"
              aria-expanded="false"
              class="nav-link product-thumb"
            >
              <img
                src="assets/images/products/product-1(2).png"
                alt="product-1(2)"
                class="img-fluid mx-auto d-block rounded"
              />
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane show active" id="product-2-item">
                <img
                  src="assets/images/products/product-1(2).png"
                  alt="product-1(1)"
                  class="img-fluid mx-auto d-block rounded"
                />
              </div>
            </ng-template>
          </li>
          <li ngbNavItem class="nav-item">
            <a
              ngbNavLink
              data-bs-toggle="tab"
              aria-expanded="false"
              class="nav-link product-thumb"
            >
              <img
                src="assets/images/products/product-1(1).png"
                alt="product-1(2)"
                class="img-fluid mx-auto d-block rounded"
              />
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane" id="product-2-item">
                <img
                  src="assets/images/products/product-1(1).png"
                  alt="product-1(1)"
                  class="img-fluid mx-auto d-block rounded"
                />
              </div>
            </ng-template>
          </li>
          <li ngbNavItem class="nav-item">
            <a
              ngbNavLink
              data-bs-toggle="tab"
              aria-expanded="false"
              class="nav-link product-thumb"
            >
              <img
                src="assets/images/products/product-1(3).png"
                alt="product-1(2)"
                class="img-fluid mx-auto d-block rounded"
              />
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane" id="product-2-item">
                <img
                  src="assets/images/products/product-1(3).png"
                  alt="product-1(1)"
                  class="img-fluid mx-auto d-block rounded"
                />
              </div>
            </ng-template>
          </li>
          <li ngbNavItem class="nav-item">
            <a
              ngbNavLink
              data-bs-toggle="tab"
              aria-expanded="false"
              class="nav-link product-thumb"
            >
              <img
                src="assets/images/products/product-1(4).png"
                alt="product-1(2)"
                class="img-fluid mx-auto d-block rounded"
              />
            </a>
            <ng-template ngbNavContent>
              <div class="tab-pane" id="product-2-item">
                <img
                  src="assets/images/products/product-1(4).png"
                  alt="product-1(1)"
                  class="img-fluid mx-auto d-block rounded"
                />
              </div>
            </ng-template>
          </li>
        </ul>
      </div>

      <div class="col-lg-8">
        <div class="ps-xl-3 mt-3 mt-xl-0">
          <a
            href="javascript:void(0);"
            class="text-primary mb-2 d-inline-block"
            >{{ productDetail.category }}</a
          >
          <h4 class="mb-3">
            {{ productDetail.productName }}
          </h4>
          <p class="text-muted float-start me-3">
            <span class="bx bxs-star text-warning me-1"></span>
            <span class="bx bxs-star text-warning me-1"></span>
            <span class="bx bxs-star text-warning me-1"></span>
            <span class="bx bxs-star text-warning me-1"></span>
            <span class="bx bxs-star text-warning"></span>
          </p>
          <p class="mb-3">
            <a href="javascript:void(0);" class="text-muted"
              >( 36 Customer Reviews)</a
            >
          </p>
          <h6 class="text-danger text-uppercase">20 % Off</h6>
          <h4 class="mb-3">
            Price :
            <span class="text-muted me-2"
              ><del>{{ currency }}999 USD</del></span
            >

            <b> ${{ productDetail.price }} USD</b>
          </h4>
          <h4>
            <span class="badge badge-soft-success mb-3">Instock</span>
          </h4>

          <form class="d-flex flex-wrap align-items-center mb-3">
            <label class="my-1 me-2" for="color">Color:</label>
            <div class="me-3">
              <select class="form-select form-select-sm my-1" id="color">
                <option value="1">Black</option>
                <option value="2">Blue</option>
                <option value="3">Midnight</option>
              </select>
            </div>

            <label class="my-1 me-2" for="sizeinput">Size:</label>
            <div class="me-sm-3">
              <select class="form-select form-select-sm my-1" id="sizeinput">
                <option selected>256 GB</option>
                <option value="1">512 GB</option>
              </select>
            </div>
          </form>

          <div class="mb-3 pb-3 border-bottom">
            <h5>
              Processor Brand :
              <span class="text-muted me-2"></span>
              <b>Apple</b>
            </h5>
            <h5>
              Processor Name :
              <span class="text-muted me-2"></span>
              <b>M1</b>
            </h5>
            <h5>
              SSD :
              <span class="text-muted me-2"></span>
              <b>Yes</b>
            </h5>
            <h5>
              SSD Capacity :
              <span class="text-muted me-2"></span>
              <b>256 GB</b>
            </h5>
            <h5>
              RAM :
              <span class="text-muted me-2"></span>
              <b>8 GB</b>
            </h5>
          </div>
          <div class="mb-3">
            <h5>About this item:</h5>
            <p class="text-muted mb-1">
              <i class="bx bx-check-circle text-primary me-2"></i>Quad LED
              Backlit IPS Display (227 PPI, 400 nits Brightness, Wide Colour
              (P3), True Tone Technology)
            </p>
            <p class="text-muted mb-1">
              <i class="bx bx-check-circle text-primary me-2"></i>Built-in
              Speakers
            </p>
            <p class="text-muted mb-1">
              <i class="bx bx-check-circle text-primary me-2"></i>Three-mic
              Array with Directional Beamforming
            </p>
            <p class="text-muted mb-1">
              <i class="bx bx-check-circle text-primary me-2"></i>Stereo
              Speakers, Wide Stereo Sound, Support for Dolby Atmos Playback
            </p>
            <p class="text-muted mb-1">
              <i class="bx bx-check-circle text-primary me-2"></i>49.9 WHr
              Li-polymer Battery
            </p>
            <p class="text-muted mb-1">
              <i class="bx bx-check-circle text-primary me-2"></i>Backlit Magic
              Keyboard
            </p>
          </div>

          <div>
            <button type="button" class="btn btn-danger me-2">
              <i class="bx bx-heart fs-18"></i>
            </button>
            <button type="button" class="btn btn-primary">
              <i class="bx bx-cart fs-18 me-2"></i>Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
